@charset "UTF-8";
/*-------------
mixin
-------------*/
/* content:''; */
/* left:0px; */
/*
#####################################################################

common
	
#####################################################################
*/
/* line 14, style.scss */
body {
  background: #efe;
  color: #000;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-family: "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝", serif;
  font-size: small;
  line-height: 1.4;
  word-wrap: break-word; }

/* line 29, style.scss */
html > body {
  height: auto;
  min-width: 980px; }

/* line 40, style.scss */
a:hover {
  text-decoration: none; }

/* line 47, style.scss */
#page {
  margin: 0 auto;
  width: 100%; }

@font-face {
  font-family: 'SourceHanSansJP-Bold';
  src: url("../fontss/SourceHanSansJP-Bold.otf") format("opentype"), url("../fonts/SourceHanSansJP-Bold.woff") format("woff"); }
@font-face {
  font-family: 'SourceHanSansJP-Regular';
  src: url("../fonts/SourceHanSansJP-Regular.otf") format("opentype"), url("../fonts/SourceHanSansJP-Regular.woff") format("woff"); }
@font-face {
  font-family: 'SourceHanSansJP-Light';
  src: url("../fonts/SourceHanSansJP-Light.otf") format("opentype"), url("../fonts/SourceHanSansJP-Light.woff") format("woff"); }
/* line 66, style.scss */
.SourceHanSans-ExtraLight {
  font-family: "SourceHanSans-ExtraLight"; }

/* line 70, style.scss */
.SourceHanSans-Light {
  font-family: 'SourceHanSansJP-Light';
  font-size: 24px; }

/* line 75, style.scss */
.SourceHanSans-Medium {
  font-family: "SourceHanSans-Medium"; }

/* line 79, style.scss */
.SourceHanSans-Normal {
  font-family: "SourceHanSans-Normalm"; }

/* line 83, style.scss */
.SourceHanSans-Regular {
  font-family: 'SourceHanSansJP-Regular';
  font-size: 24px; }

/* line 88, style.scss */
.SourceHanSans-Heavy {
  font-family: "SourceHanSans-Heavy"; }

/* line 92, style.scss */
.SourceHanSans-Bold {
  font-family: 'SourceHanSansJP-Bold';
  font-size: 24px; }

/*
#####################################################################

Sass
	
#####################################################################
*/
/*
#####################################################################

parts
	
#####################################################################
*/
/* line 114, style.scss */
.btn {
  width: 100px;
  display: inline-block;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  background: #888;
  line-height: 1.6;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: ease .25s; }
  /* line 128, style.scss */
  .btn + .btn {
    margin-left: 10px; }
  /* line 130, style.scss */
  .btn.btn--cancel {
    background: #444; }
  /* line 131, style.scss */
  .btn.btn--submit {
    background: #666; }
  /* line 134, style.scss */
  .btn:hover {
    opacity: 0.8; }

/*
#####################################################################

.globalHeader
	
#####################################################################
*/
/* line 145, style.scss */
.globalHeader {
  margin: 0 auto;
  width: 980px;
  overflow: hidden;
  zoom: 1; }

/* line 152, style.scss */
.globalHeader .globalHead--sitelogo {
  float: left;
  overflow: hidden;
  zoom: 1; }

/*
#####################################################################

.globalFooter
	
#####################################################################
*/
/* line 166, style.scss */
.globalFooter {
  margin: 0 auto;
  width: 980px;
  clear: both; }

/*
#####################################################################

.contents
	
#####################################################################
*/
/* line 180, style.scss */
.contents {
  position: relative;
  width: 980px;
  margin: 0 auto;
  background: #fff;
  min-height: 500px; }

/* line 188, style.scss */
.contents .pageTop {
  clear: both;
  text-align: right; }

/* line 193, style.scss */
.contents .pageTop a {
  padding: 0 0 0 18px; }

/* Mozilla based browsers */
/* line 198, style.scss */
::-moz-selection {
  background-color: #000;
  color: #fff; }

/* Works in Safari */
/* line 204, style.scss */
::selection {
  background-color: #000;
  color: #fff; }

/*
#####################################################################

form
	
#####################################################################
*/
/* line 217, style.scss */
.form-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 14px; }

/* line 218, style.scss */
.form-wrap__lead {
  font-size: 16px; }

/* line 221, style.scss */
.fm__area {
  display: table;
  width: 800px;
  margin-bottom: 16px; }

/* line 222, style.scss */
.fm__hd {
  display: table-cell;
  width: 180px;
  vertical-align: middle; }

/* line 223, style.scss */
.fm__body {
  display: table-cell;
  width: 620px; }

/* line 225, style.scss */
.lead-area {
  margin: 20px 0; }

/* line 226, style.scss */
.lead-area__txt {
  margin-bottom: 10px; }

/* line 230, style.scss */
.fm__text {
  border: 1px solid #ccc;
  padding: 4px 10px;
  outline: none;
  font-size: 16px;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  transition: ease .2s; }
  /* line 242, style.scss */
  .fm__text + .fm__text {
    margin: 0 10px; }
  /* line 243, style.scss */
  .fm__text.fm__text--s {
    width: 100px; }
  /* line 244, style.scss */
  .fm__text.fm__text--m {
    width: 200px; }
  /* line 245, style.scss */
  .fm__text.fm__text--l {
    width: 300px; }
  /* line 246, style.scss */
  .fm__text.fm__text--readonly {
    color: #666;
    background: #eee; }
  /* line 249, style.scss */
  .fm__text:focus {
    border: 1px solid #3ba791; }

/* line 251, style.scss */
.fm__textarea {
  border: 1px solid #ccc;
  padding: 4px 10px;
  outline: none;
  font-size: 16px;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  transition: ease .2s; }
  /* line 264, style.scss */
  .fm__textarea:focus {
    border: 1px solid #3ba791; }

/* line 266, style.scss */
.fm__select {
  border: 1px solid #ccc;
  padding: 4px 10px;
  outline: none;
  font-size: 16px;
  background: #fff;
  border-radius: 0;
  transition: ease .2s; }
  /* line 276, style.scss */
  .fm__select:focus {
    border: 1px solid #3ba791; }
