@charset "utf-8";

@import "mixin";

/*
#####################################################################

common
	
#####################################################################
*/


body {
	background: #efe;
	color: #000;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
	font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
	font-family:'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-family: "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝", serif;
	font-size: small;
	line-height: 1.4;
	word-wrap: break-word;
}

html {
}

html > body {
	height: auto;
	min-width: 980px;
}

a:link {
}

a:visited {
}

a:hover {
	text-decoration: none;
}

a:active {
}

#page {
	margin: 0 auto;
	width: 100%;
}

@font-face {
	font-family: 'SourceHanSansJP-Bold';
	src: url('../fontss/SourceHanSansJP-Bold.otf') format('opentype'),  url('../fonts/SourceHanSansJP-Bold.woff') format('woff');
}

@font-face {
	font-family: 'SourceHanSansJP-Regular';
	src: url('../fonts/SourceHanSansJP-Regular.otf') format('opentype'),  url('../fonts/SourceHanSansJP-Regular.woff') format('woff');
}

@font-face {
	font-family: 'SourceHanSansJP-Light';
	src: url('../fonts/SourceHanSansJP-Light.otf') format('opentype'),  url('../fonts/SourceHanSansJP-Light.woff') format('woff');
}
.SourceHanSans-ExtraLight {
  font-family: "SourceHanSans-ExtraLight";
}

.SourceHanSans-Light {
 font-family: 'SourceHanSansJP-Light';
 font-size:24px;
}

.SourceHanSans-Medium {
  font-family: "SourceHanSans-Medium";
}

.SourceHanSans-Normal {
  font-family: "SourceHanSans-Normalm";
}

.SourceHanSans-Regular {
 font-family: 'SourceHanSansJP-Regular';
 font-size:24px;
}

.SourceHanSans-Heavy {
  font-family: "SourceHanSans-Heavy";
}

.SourceHanSans-Bold {
font-family: 'SourceHanSansJP-Bold';
font-size:24px;
}

/*
#####################################################################

Sass
	
#####################################################################
*/


/*
#####################################################################

parts
	
#####################################################################
*/

.btn {
	text-align: center;
}

/*
#####################################################################

.globalHeader
	
#####################################################################
*/

.globalHeader {
	margin: 0 auto;
	width: 980px;
	overflow: hidden;
	zoom: 1;
}

.globalHeader .globalHead--sitelogo {
	float: left;
	overflow: hidden;
	zoom: 1;
}

/*
#####################################################################

.globalFooter
	
#####################################################################
*/

.globalFooter {
	margin: 0 auto;
	width: 980px;
	clear: both;
}

/*
#####################################################################

.contents
	
#####################################################################
*/

.contents {
	position: relative;
	width: 980px;
	margin: 0 auto;
	background: #fff;
	min-height: 500px;
}

.contents .pageTop {
	clear: both;
	text-align: right;
}

.contents .pageTop a {
	padding: 0 0 0 18px;
}

/* Mozilla based browsers */
::-moz-selection {
 background-color: #000;
 color: #fff;
}

/* Works in Safari */
::selection {
	background-color: #000;
	color: #fff;
}

/*
#####################################################################

form
	
#####################################################################
*/

.form-wrap { width: 800px; margin: 0 auto; padding: 10px 0; font-size: 14px;}
.form-wrap__lead { font-size: 16px;}

.fm {}
.fm__area { display: table; width: 800px; margin-bottom: 16px;}
.fm__hd { display: table-cell; width: 180px; vertical-align: middle;}
.fm__body { display: table-cell; width: 620px;}

.lead-area { margin: 20px 0;}
.lead-area__txt { margin-bottom: 10px;}
.lead-area__item {}

// ボタン
.btn {
	width: 100px;
	display: inline-block;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	background: #888;
	line-height: 1.6;
	border: none;
	text-decoration: none;
	cursor: pointer;
	transition: ease .25s;
	
	& + & { margin-left: 10px;}
	
	&.btn--cancel { background: #444;}
	&.btn--submit { background: #666;}
	&.btn--link { }
	
	&:hover { opacity: 0.8;}
}

// form部品
.fm__text { 
	border: 1px solid #ccc; 
	padding: 4px 10px; 
	outline: none; 
	font-size: 16px;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	transition: ease .2s;
	
	& + & { margin: 0 10px;}
	&.fm__text--readonly { color: #666; background: #eee;}
	
	// focus
	&:focus { border: 1px solid #3ba791;}
}
.fm__textarea { 
	border: 1px solid #ccc; 
	padding: 4px 10px; 
	outline: none; 
	font-size: 16px;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	transition: ease .2s;

	// focus
	&:focus { border: 1px solid #3ba791;}
}
.fm__select {
	border: 1px solid #ccc; 
	padding: 4px 10px; 
	outline: none; 
	font-size: 16px;
	background: #fff;
	border-radius: 0;
	transition: ease .2s;

	// focus
	&:focus { border: 1px solid #3ba791;}
}





