<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>title</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">

<!-- *** common *** ★忘れずに指定 -->
<meta property="og:image" content="http:///img/head/og.png">
<meta property="og:locale" content="ja_JP">

<!-- *** Facebook *** ★忘れずに指定 -->
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">

<!-- *** Twitter *** ★忘れずに指定 -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="">

<!-- *** favicon *** -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
<link rel="stylesheet" href="/css/vendor/ress.min.css">
<link rel="stylesheet" href="/css/style.min.css">
<!-- 構造化パンくず START-->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://example.com/"
        },{
            "@type": "ListItem",
            "position": 2,
            "name": "Category",
            "item": "https://example.com/category/"
        },{
            "@type": "ListItem",
            "position": 3,
            "name": "Current Page",
            "item": "https://example.com/category/page/"
        }]
    }
</script>
<!-- 構造化パンくず END-->
<!-- Google Tag START -->
<!-- Google Tag END -->
</head>
<body>
