@charset "utf-8";

$mobile: 560px;
$desktop: 1000px;
$wide: 1280px;
$full: 1440px;

$color_primary: #4dbbaa;
$color_secondary: #ffd66e;
$color_darkgray: #3b4043;
$color_gray: #6f7579;
$color_midgray: #959ea7;
$color_palegray: #cdd6dd;
$color_lightgray: #f0f3f5;
$color_white: #fff;
$color_error: #ef5a24;
$color_border: #e5eaed;
