{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
