.DS_Store
!.gitignore
!gulpfile.js
!package.json

/node_modules/
/dist/

.idea/

/wp/.htaccess
/wp/*.html
/wp/*.php
/wp/*.txt
/wp/wp-admin/
/wp/wp-content/languages/
/wp/wp-content/plugins/
/wp/wp-content/themes/twentyfifteen/
/wp/wp-content/themes/twentyfourteen/
/wp/wp-content/themes/twentysixteen/
/wp/wp-content/themes/index.php
/wp/wp-content/upgrade/
/wp/wp-content/uploads/
/wp/wp-content/index.php
/wp/wp-includes/
