@charset "utf-8";

.c-archive {
  display: block;
  &__link {
    display: block;
    display: flex;
    text-decoration: none;
    background: #fff;
  }
  &__figure {
    width: 150px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__meta {
    display: flex;
    @include fz(6);
    margin-top: 5px;
  }
  &__cat {
    a {
      text-decoration: none;
    }
  }
  &__body {
    flex: 1;
    padding: 10px;
  }
  &__date {
    margin-left: 20px;
  }
  &__title {
    @include fz(12);
  }
  &__text {
    @include fz(8);
    margin-top: 5px;
  }
  &__action {
    padding: 0 20px 20px;
  }
}
