@charset "utf-8";

/*
@include sp{}
@include tb{}
@include pc{}
@include wide{}
@include spOnly{}
@include tbOnly{}
@include pcOnly{}
*/

//HTML
//<div class="c-btnWrap -center">
//<div class="c-btn -white -w460"><a href="" class="">ボタン</a></div>
//<div class="c-btn -black -wFull"><button>ボタン</button></div>
//<div class="c-btn -red -wFull"><input type="submit" value="ボタン"></div> 
//</div>
//形 
a,
button,
input {
  .c-btn &,
  &.c-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    text-decoration: none;

    letter-spacing: 0.16em;
    cursor: pointer;
    background: #fff;
    border: 1px solid #999;
    transition: 0.3s ease-in-out;
    @include fz(13);
    & + & {
      margin-left: 10px;
    }
  }
  .-left & {
    &::before {
      left: 8px;
    }
  }
  .-right & {
    &::before {
      right: 8px;
    }
  }
}

.c-btn {
  & + & {
    margin-left: 10px;
  }
  &.-pseudo {
    position: relative;
    a,
    button,
    input {
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        display: block;
        width: 10px;
        height: 10px;
        content: '';
        background: #000;
        transform: translateY(-50%);
      }
      &.-left {
        padding-left: 30px;
        &::before {
          left: 10px;
        }
      }
      &.-right {
        padding-right: 30px;
        &::before {
          right: 10px;
        }
      }
    }
  }
  &.-pseudo_inline {
    display: flex;
    justify-content: center;
    &.-left {
      a::before,
      input::before,
      button::before {
        display: block;
        width: 10px;
        height: 10px;
        margin-right: 6px;
        content: '';
        background: #000;
      }
    }
    &.-right {
      a::after,
      input::after,
      button::after {
        display: block;
        width: 10px;
        height: 10px;
        margin-left: 6px;
        content: '';
        background: #000;
      }
    }
  }
  &.-arrow {
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      display: block;
      width: 10px;
      height: 10px;
      content: '';
      border: 2px #000 solid;
      border-top: 0;
      border-left: 0;
    }
    &.-left::before {
      left: 15px;
      margin-top: -2px;
      transform: rotate(135deg) translateY(50%);
    }
    &.-right::before {
      right: 15px;
      margin-top: -10px;
      transform: rotate(-45deg) translateY(50%);
    }
  }
  &.-right,
  &.-left {
    position: relative;
  }
  &.-icon {
    position: relative;
    i {
      position: absolute;
      @include fz(20);
    }
    &.-left i {
      left: 10px;
      margin-right: 5px;
    }
    &.-right i {
      right: 10px;
      margin-left: 5px;
    }
  }
  &.-icon_inline {
    i {
      @include fz(20);
    }
    &.-left i {
      margin-right: 5px;
    }
    &.-right i {
      margin-left: 5px;
    }
  }
}

//色
.c-btn {
  &.-white {
    a,
    button,
    input {
      color: #000;
      background: #fff;
      border: 2px solid #000;
      &:hover {
        color: #fff;
        background: #000;
      }
    }
  }
  &.-black {
    a,
    button,
    input {
      color: #fff;
      background: #000;
      border: 2px solid #000;
      &:hover {
        color: #000;
        background: #fff;
      }
    }
  }
}


//横幅
.c-btn {
  &.-w235 {
    width: 235px;
    a,
    button,
    input {
      width: 100%;
    }
  }
  &.-w460 {
    width: 100%;
    @include pc {
      width: 460px;
    }
    a,
    button,
    input {
      width: 100%;
    }
  }
}

//縦幅
.c-btn {
  &.-h45 {
    a,
    button,
    input {
      height: 45px;
      border-radius: 45px;
      @include pc {
        letter-spacing: 0.18em;
      }
    }
  }
}

//囲み 右寄せ 中央寄せ 左寄せ
.c-btnWrap {
  display: flex;
  &.-left {
    justify-content: flex-start;
  }
  &.-center {
    justify-content: center;
  }
  &.-right {
    justify-content: flex-end;
  }
}

//個別
.c-btn {
  &.-amazon {
    a,
    button,
    input {
      position: relative;
      background: #fff;
      border: 2px solid #f90;
      &:hover {
        color: #000;
        background: #ffe3b9;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 94px;
        height: auto;
        margin-top: 4px;
        transform: translate(-50%, -50%);
      }
    }
  }
}
