@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.c-btn {
  height: 40px;
  font-size: fz(14);
  color: #fff;
  background: gray;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__group {
    display: flex;
    &.-center{
      justify-content: center;
    }
  }
}