@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.c-card {
  display: block;
  &__link {
    border: 1px solid #666;
    display: block;
    text-decoration: none;
  }
  &__figure {
    img {
      width: 100%;
      height: auto;
    }
  }
  &__meta {
    display: flex;
  }
  &__cat {
    a {
      text-decoration: none;
    }
  }
  &__body{
    padding: 20px;
  }
  &__date {
    margin-left: 20px;
  }
  &__title {
    @include fz(16);
  }
  &__action{
    padding: 0 20px 20px;
  }
}