@charset "utf-8";

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include wide($point-wide) {}
*/

.c-hero {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
  &__inner {
    width: 720px;
    overflow: hidden;
  }
  &__list {
    width: 6000px;
  }
  &__item {
    float: left;
    width: 720px;
    img {
      width: 100%;
    }
  }
  &__dots {
    &List {
      display: inline-flex;
    }
    &Item {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 24px;
      height: 24px;
      padding: 7px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      position: relative;
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 6px;
        height: 6px;
        content: '';
        display: block;
        border-radius: 50%;
        background: #b3b3b3;
        margin: -3px -0 0 -3px;
      }
    }
  }
}