@charset "utf-8";

.c-h1 {
  @include fz(24);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.c-h2 {
  @include fz(18);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.c-h3 {
  @include fz(14);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.c-h4 {
  @include fz(22);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.c-h5 {
  @include fz(18);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}
