@charset "utf-8";

.c-postcat {
  a {
    padding: 4px 8px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    background: #9cb7be;
    @include fz(11);
    @include desktop {
      @include fz(12);
    }
  }
}
