@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.c-pageHeading {
  line-height: 1.1;
  margin-bottom: 140px;
  &__title{
    font-size: 22px;
  }
  &__lead{
    font-size: 16px;
    margin-top: 1em;
  }
  &__jp {
    font-size: 12px;
    display: block;
  }
  &__en {
    font-size: 20px;
    display: block;
  }
}