@charset "utf-8";

/*
@include sp{}
@include tb{}
@include pc{}
@include wide{}
@include spOnly{}
@include tbOnly{}
@include pcOnly{}
*/

.c-radio {
  input[type=radio] {
    display: none;
    margin: 0;
  }
  input[type=radio]:checked + .c-radio__label::after {
    position: absolute;
    top: 50%;
    left: 6px;
    box-sizing: border-box;
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    content: "";
    background: #000;
    border-radius: 8px;
  }
  &__label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 30px;
    margin-right: 28px;
    line-height: 1.5px;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      display: block;
      width: 22px;
      height: 22px;
      margin-top: -11px;
      content: "";
      background-color: white;
      border: 1px solid #000;
      border-radius: 50%;
    }
  }
}
