@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.c-sns {
  width: 100%;
  background: #eee;
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #ddd;
  }
  &__item {
    text-align: center;
    display: block;
    & + & {
      margin-left: 8px;
    }
    i {
      @include fz(30);
    }
  }
}