@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.c-table {
  width: 100%;
  border-collapse: collapse;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  caption {}
  th,
  td {
    padding: 8px;
    vertical-align: top;
    border-top: 2px solid #333;
    border-left: 2px solid #333;
  }
  thead {
    th {
      color: #fff;
      background: #000;
    }
  }
  tbody {
    th,
    td {}
    th {}
    td {}
  }
}