@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.c-tag {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 40px;

    color: #fff;
    text-decoration: none;
    background: yellowgreen;
    border-radius: 40px;
    @include fz(14);
  }
  &s {
    display: flex;
    &.-center {
      justify-content: center;
    }
  }
  & + & {
    margin-left: 5px;
  }
}
