@charset "utf-8";

/*
@include sp{}
@include tb{}
@include pc{}
@include wide{}
@include spOnly{}
@include tbOnly{}
@include pcOnly{}
*/

.c-textarea {
  width: 100%;
  textarea {
    background-color: #fff;
    padding: 6px 10px;
    font-size: 14px;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  textarea::placeholder {
    color: #ccc;
  }
}