.c_pageHeading {
  margin-bottom: 40px;
  .c_pageHeading__title {
    display: flex;
    align-items: baseline;
  }
  .c_pageHeading__jp {
    @include fz(20);
    line-height: (36 / 20);
    @include lhCrop(line-height/fontsize);
  }
  .c_pageHeading__en {
    @include fz(12);
    margin-left: 15px;
  }
  .c_pageHeading__lead {
    @include fz(16);
    margin-top: 1em;
  }
}
