.c_table {
  width: 100%;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  caption {
    //style
  }
  th,
  td {
    padding: 8px;
    vertical-align: top;
    border-top: 2px solid #333;
    border-left: 2px solid #333;
  }
  thead {
    th {
      color: #fff;
      background: #000;
    }
  }
  tbody {
    th,
    td {
      //style
    }
    th {
      //style
    }
    td {
      //style
    }
  }
}
