@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

br.is-SPbr {
  display: none;
  @include sp {
    display: inline;
  }
}

br.is-PCbr {
  display: inline;
  @include sp {
    display: none;
  }
}