@charset "utf-8";

//5〜200pxまで5px刻みで生成
//
//.is-padding_top_5 {
//  padding-top: 5px
//}
//
//.is-padding_right_5 {
//  padding-right: 5px
//}
//
//.is-padding_bottom_5 {
//  padding-bottom: 5px
//}
//
//.is-padding_left_5 {
//  padding-left: 5px
//}
//
//〜 .is-padding_top_200 {
//  padding-top: 200px
//}
//
//.is-padding_right_200 {
//  padding-right: 200px
//}
//
//.is-padding_bottom_200 {
//  padding-bottom: 200px
//}
//
//.is-padding_left_200 {
//  padding-left: 200px
//}
// 指定するpaddingの範囲を定義
$padding-min: 1;
$padding-max: 40;

@for $i from $padding-min through $padding-max {
  .-sp-padding_top_#{$i * 5} {
    @include mobile {
      padding-top: #{$i * 5}px;
    }
  }
  .-sp-padding_right_#{$i * 5} {
    @include mobile {
      padding-right: #{$i * 5}px;
    }
  }
  .-sp-padding_bottom_#{$i * 5} {
    @include mobile {
      padding-bottom: #{$i * 5}px;
    }
  }
  .-sp-padding_left_#{$i * 5} {
    @include mobile {
      padding-left: #{$i * 5}px;
    }
  }
  .-pc-padding_top_#{$i * 5} {
    @include desktop {
      padding-top: #{$i * 5}px;
    }
  }
  .-pc-padding_right_#{$i * 5} {
    @include desktop {
      padding-right: #{$i * 5}px;
    }
  }
  .-pc-padding_bottom_#{$i * 5} {
    @include desktop {
      padding-bottom: #{$i * 5}px;
    }
  }
  .-pc-padding_left_#{$i * 5} {
    @include desktop {
      padding-left: #{$i * 5}px;
    }
  }
}
