//5〜200pxまで5px刻みで生成
//
//.is-margin_top_5 {
//  margin-top: 5px
//}
//
//.is-margin_right_5 {
//  margin-right: 5px
//}
//
//.is-margin_bottom_5 {
//  margin-bottom: 5px
//}
//
//.is-margin_left_5 {
//  margin-left: 5px
//}
//
//〜 .is-margin_top_200 {
//  margin-top: 200px
//}
//
//.is-margin_right_200 {
//  margin-right: 200px
//}
//
//.is-margin_bottom_200 {
//  margin-bottom: 200px
//}
//
//.is-margin_left_200 {
//  margin-left: 200px
//}
// 指定するmarginの範囲を定義
$margin-min: 1;
$margin-max: 40;

@for $i from $margin-min through $margin-max {
  ._sp_is_margin_top#{$i} {
    @include mobile {
      margin-top: #{$i}px;
    }
  }
  ._sp_margin_right#{$i} {
    @include mobile {
      margin-right: #{$i}px;
    }
  }
  ._sp_margin_bottom#{$i} {
    @include mobile {
      margin-bottom: #{$i}px;
    }
  }
  ._sp_margin_left#{$i} {
    @include mobile {
      margin-left: #{$i}px;
    }
  }
  ._pc_margin_top#{$i} {
    @include desktop {
      margin-top: #{$i}px;
    }
  }
  ._pc_margin_right#{$i} {
    @include desktop {
      margin-right: #{$i}px;
    }
  }
  ._pc_margin_bottom#{$i} {
    @include desktop {
      margin-bottom: #{$i}px;
    }
  }
  ._pc_margin_left#{$i} {
    @include desktop {
      margin-left: #{$i}px;
    }
  }
}
