@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.l-breadcrumb {
  width: 1000px;
  margin: 20px auto;
  &__list {
    display: flex;
  }
  &__item {
    + .l-breadcrumb__item {
      &::before {
        margin: 0 0.5em;
        color: #cacaca;
        content: "＞";
      }
    }
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }
    strong {
    }
  }
}
