@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.l-footlink {
  width: 1000px;
  padding: 40px 40px;
  margin: 40px auto 0;
  background: #f0f0f0;
  &__list {
    display: flex;
  }
  &__item {
    & + & {
      margin-left: 20px;
    }
  }
}
