@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.l-footlink {
  width: 1000px;
  margin: 80px auto 0;
  background: #f0f0f0;
  padding: 80px 40px;
}