@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/
.l-footer {
  padding: 50px 0;
  background: #eee;
  margin-top: 100px;
  position: relative;
  &__copy {
    font-size: 11px;
  }
  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    margin: 20px auto;
  }
  &__nav {
    &List {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &Item {
      position: relative;
      a {
        padding: 0 12px;
      }
    }
  }
}