@charset "utf-8";

.l-footer {
  position: relative;
  padding: 50px 0;
  margin-top: 40px;
  background: #eee;
  &__copy {
    @include fz(11);
  }
  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    margin: 20px auto;
  }
  &__nav {
    &List {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &Item {
      position: relative;
      a {
        padding: 0 12px;
      }
    }
  }
}
