@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.l-header {
  position: relative;
  width: 100%;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    padding: 0 40px;
  }
  &__site {
    @include pc {
      height: 100px;
    }
    &Text {
      @include fz(10);

      letter-spacing: -0.03em;
      @include pc {
        margin-left: 20px;
        @include fz(12);

        letter-spacing: 0.1em;
      }
    }
    &Logo {
      width: 80px;
      margin-bottom: 6px;
      @include ov;
      @include pc {
        width: 140px;
        margin-bottom: 12px;
      }
    }
  }
}
