@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.l-main {
  width: 100%;
  min-height: 500px;
  padding: 40px;
  background: #efefef;
}
