.l_gnav {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  overflow: hidden;
  text-align: center;
  background: #eee;
  .l_gnav__list {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .l_gnav__item {
    display: inline-block;
    @include fz(14);
    a {
      position: relative;
      display: block;
      padding: 0 10px;
      text-align: center;
    }
  }
}
