@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.p-archives {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  &__item{}
}
