@charset "utf-8";

/*
@include sp{}
@include tb{}
@include pc{}
@include wide{}
@include spOnly{}
@include tbOnly{}
@include pcOnly{}
*/

.p-faq {
  &__section {}
  &__dl {}
  &__dt {
    margin-top: 40px;
    &::before {

      display: block;
      content: 'Q.';
      @include fz(20);
    }

    font-weight: bold;
    @include fz(20);
  }
  &__dd {
    margin-top: 10px;
    &::before {
      content: 'A.';
      @include fz(20);
    }
  }
}
