@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.c-form {
  h3 {
    margin: 0 0 12px;
  }
  //☆ラジオボタン START
  input[type=radio] {
    display: none;
    margin: 0;
  }
  input[type=radio]:checked+.c-form__labelRadio:after {
    position: absolute;
    top: 50%;
    left: 6px;
    box-sizing: border-box;
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    content: "";
    background: #000;
    border-radius: 8px;
  }
  &__labelRadio {
    position: relative;
    display: inline-block;
    padding: 0 0 0 30px;
    margin-right: 28px;
    line-height: 1.5px;
    cursor: pointer;
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      display: block;
      width: 22px;
      height: 22px;
      margin-top: -11px;
      content: "";
      background-color: white;
      border: 1px solid #000;
      border-radius: 50%;
    }
  }
  //☆ラジオボタン END
  //☆チェックボックス START
  input[type=checkbox] {
    display: none;
    margin: 0;
  }
  input[type=checkbox]:checked+.c-form__labelCheck:after {
    position: absolute;
    top: 50%;
    left: 3px;
    box-sizing: border-box;
    display: block;
    width: 16px;
    height: 8px;
    margin-top: -6px;
    content: "";
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    transform: rotate(-45deg);
  }
  &__labelCheck {
    position: relative;
    display: inline-block;
    padding: 0 0 0 30px;
    margin-right: 28px;
    line-height: 1.5px;
    cursor: pointer;
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      display: block;
      width: 22px;
      height: 22px;
      margin-top: -11px;
      content: "";
      background-color: white;
      border: 1px solid #000;
    }
  }
  //☆チェックボックス END
  //☆リード文 START
  &__lead {
    font-size: 18px;
    &Text {
      margin: 0 0 40px;
    }
  }
  //☆リード文 END
  //☆先頭エラー文 START
  &__errorWrap {
    margin: 0 0 40px;
    &__title {
      margin: 0 0 12px;
      font-size: 16px;
      font-weight: bold;
      color: #EF5A24;
    }
    &__list {
      padding: 20px 20px 12px;
      margin: 0;
      list-style: none;
      border: 2px solid #EF5A24;
      border-radius: 4px;
    }
    &__item {
      margin: 0 0 12px;
      font-size: 16px;
      color: #EF5A24;
    }
  }
  //☆先頭エラー文 END
  &__group {
    margin: 0 0 32px;
  }
  &__label {}
  &__must {}
  &__select {
    position: relative;
    display: block;
    width: 180px;
    overflow: hidden;
    border: 1px solid #333;
    &:before {
      position: absolute;
      top: 50%;
      right: 10px;
      width: 0;
      height: 0;
      margin: -3px 0 0;
      content: "";
      border-color: #333 transparent transparent;
      border-style: solid;
      border-width: 6px 6px 0 6px;
    }
    select {
      display: inline-block;
      width: 100%;
      width: 210px;
      height: 40px;
      padding: 0 10px;
      background: #fff;
      border: 0;
      appearance: none;
    }
    &--inlineBlock {
      display: inline-block;
    }
  }
  &__inputText,
  &__textArea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #666;
  }
  &__inputText {}
  &__textArea {}
  &__must {
    display: inline-block;
    height: 18px;
    padding: 0 10px;
    margin: 0 0 0 8px;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    vertical-align: middle;
    background: #999;
    border-radius: 9px;
  }
  &__column {
    display: table;
    width: 100%;
    &Title {
      display: table-cell;
      width: 200px;
      padding: 0 18px 0 0;
      vertical-align: top;
    }
    &Body {
      display: table-cell;
      vertical-align: top;
    }
    &Error {
      display: block;
      margin: 8px 0 0;
      font-size: 11px;
      color: #EF5A24;
    }
  }
  &__privacy {
    height: 100px;
    padding: 1em;
    margin: 0 0 40px;
    overflow: hidden;
    overflow: auto;
    background: #fff;
    border: 1px solid #333;
    &Inner {
      font-size: 12px;
      line-height: (24/12);
    }
  }
  &__btnWrap {
    margin: 0 0 40px;
    text-align: center;
  }
}