@charset "utf-8";

.p-faq {
  &__section {}
  &__dl {}
  &__dt {
    margin-top: 40px;
    &::before {

      display: block;
      content: 'Q.';
      @include fz(20);
    }

    font-weight: bold;
    @include fz(20);
  }
  &__dd {
    margin-top: 10px;
    &::before {
      content: 'A.';
      @include fz(20);
    }
  }
}
