@charset "utf-8";

.p-kv {
  position: relative;
  height: 240px;
  overflow: hidden;
  @include desktop {
    height: 420px;
  }
  &__inner {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 100%;
    height: 200px;
    margin: -100px 0 0;
    overflow: visible;
    @include desktop {
      height: 420px;
      margin: -210px 0 0;
    }
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0;
    overflow: hidden;
    line-height: 1.1;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    .jp {
      @include fz(24);
    }
    .en {
      margin-top: 10px;
      @include fz(16);
    }
    span {
      display: block;
    }
  }
  &__bg {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: inherit;
    margin: 0;
    @include desktop {
      min-width: 900px;
      min-width: inherit;
      height: 420px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      min-width: 900px;
      height: auto;
      transform: translate(-50%, -50%);
    }
  }
  &__excerpt {
    position: absolute;
    top: 130px;
    width: 100%;
    @include fz(16);
    line-height: 2;
    line-height: 1.6;
    color: #fff;
    text-align: center;
    letter-spacing: 0.05em;
    @include desktop {
      top: 63%;
    }
    p {
      margin: 0;
    }
  }
}
