@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.p-privacy {
  margin-top: 5rem;
  &__title {
    @include fz(20);
  }
  &__h2 {
    @include fz(18);
    margin-top: 2em;
  }
  &__h3 {
    @include fz(14);
    margin-top: 2em;
  }
  &__text {
    margin-top: 1rem;
    line-height: 1.8;
    p + p {
      margin-top: 2rem;
    }
  }
  &__list {
    margin-top: 4rem;
    &.-ul {}
    &.-ol {}
  }
  &__item {
    margin-top: 1rem;
  }
  &__note {
    color: #999;
    @include fz(12);
  }
  &__section {
    margin-top: 40px;
    &Inner {}
  }
}