@charset "utf-8";

.p-single {
  &__meta {
    display: flex;
    > * {
      margin-right: 20px;
    }
  }
  &__cat {
    @include fz(13);
    position: relative;
  }
  &__date {
    color: #9d968d;
    @include fz(13);
  }
  &__title {
    @include fz(30);
    margin-top: 20px;
  }
  &__author {
    color: #9d968d;
    @include fz(12);
  }
  &__lead {
    @include fz(15);
    margin-top: 15px;
    line-height: (30 / 15);
  }
  &__entry {
    h2 {
      padding-left: 10px;
      margin-top: 40px;
      margin-bottom: 20px;
      border-left: 5px solid #666;
    }
    code {
      display: block;
      padding: 24px 24px 20px;
      margin-top: 1em;
      border: 1px solid #ddd;
    }
    img.alignleft {
      float: left;
      margin: 1em 1.5em 1em 0;
    }
    img.aligncenter {
      display: block;
      margin: 1em auto 1em;
    }
    img.alignright {
      float: right;
      margin: 1em 0 1em 1.5em;
    }
    .gallery {
      display: grid;
      grid-gap: 15px;
      .gallery-item {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .gallery.gallery-columns-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .gallery.gallery-columns-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery.gallery-columns-2 {
      grid-template-columns: 1fr 1fr;
    }
    .gallery.gallery-columns-1 {
      grid-template-columns: 1fr;
    }
    .comic {
      text-align: center;
    }
    iframe {
      @include mobile() {
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
      }
    }
    .movie {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      margin: 30px 0;
      .video-js,
      iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
        border: none;
      }
    }
    h1,
    h2 {
      margin-top: 3em;
      font-size: 20px;
    }
    h2:not([class]) {
      padding-left: 14px;
      line-height: (26 / 20);
      border-left: 4px solid #9d968d;
    }
    h3 {
      margin-top: 2em;
      font-size: 18px;
    }
    h4 {
      margin-top: 2em;
    }
    & + h2 {
      margin-top: 0;
    }
    a.arrow {
      position: relative;
      padding-left: 16px;
      text-decoration: none;
      &::before {
        position: absolute;
        top: 50%;
        left: 3px;
        display: block;
        width: 8px;
        height: 8px;
        margin-top: -5px;
        content: "";
        border-top: 2px solid #9d968d;
        border-right: 2px solid #9d968d;
        transform: rotate(45deg);
      }
    }
    a.dot {
      position: relative;
      padding-left: 16px;
      margin-left: 6px;
      text-decoration: none;
      &::before {
        position: absolute;
        top: 0.5em;
        left: 2px;
        display: block;
        width: 6px;
        height: 6px;
        margin-top: -3px;
        content: "";
        background: #000;
        border-radius: 50%;
      }
    }
    a[target="_blank"] {
      &::after {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        content: "";
        background: url(/img/common/new_window.svg) no-repeat 0 0;
      }
    }
    p {
      margin-top: 2em;
      font-size: 15px;
      line-height: 2;
      &:nth-child(1) {
        margin-top: 0;
      }
      a {
        color: #9d968d;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    p + h2 {
      margin-top: 3em;
    }
    p + h3,
    p + h4 {
      margin-top: 2em;
    }
    h2 + p {
      margin-top: 2em;
    }
    h3 + p {
      margin-top: 1em;
    }
    h4 + p {
      margin-top: 0.5em;
    }
    ul,
    ol:not([class]) {
      margin-top: 45px;
      li {
        margin-top: 12px;
        a {
          color: #9d968d;
          text-decoration: underline;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    ul {
      li {
        position: relative;
        padding-left: 16px;
        margin-left: 6px;
        text-decoration: none;
        &::before {
          position: absolute;
          top: 0.8em;
          left: 2px;
          display: block;
          width: 6px;
          height: 6px;
          margin-top: -3px;
          content: "";
          background: #000;
          border-radius: 50%;
        }
      }
    }
    ol:not([class]) {
      counter-reset: ol_li;
      li {
        margin-left: 1em;
        text-indent: -1em;
        &::before {
          margin-right: 5px;
          font-size: 24px;
          color: #9d968d;
          content: counter(ol_li);
          counter-increment: ol_li;
        }
      }
    }
    h2 + ul {
      margin-top: 2em;
    }
    h3 + ul,
    h4 + ul {
      margin-top: 1em;
    }
    hr {
      width: 100vw;
      padding-top: 6px;
      margin: 20px -20px;
      border: 1px;
    }
    .wp-caption {
      max-width: 100%;
      margin-top: 1em;
      &-text {
        margin-top: 15px;
        font-size: 12px;
        line-height: (18 / 12);
        color: #888;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      pointer-events: none;
    }
    em {
      font-style: normal;
    }
    blockquote {
      position: relative;
      padding: 30px 20px;
      margin-top: 30px;
      font-size: 13px;
      font-style: italic;
      background: #f1f1f1;
      a {
        font-size: 12px;
        font-style: normal;
        color: #9d968d;
        cursor: pointer;
      }
    }
    table {
      width: 100%;
      margin-top: 2em;
      border-collapse: collapse;
      border-style: solid;
      border-top-width: 1px;
      border-right-width: 0;
      border-bottom-width: 0;
      border-left-width: 0;
      th,
      td {
        padding: 10px;
        font-size: 13px;
        border-style: solid;
        border-top-width: 0;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 0;
        &:nth-last-of-type(1) {
          border-right: none;
        }
      }
      th {
        text-align: left;
        background: #f1f1f1;
      }
    }
    .p-single__contents {
      position: relative;
      padding: 0 15px;
      margin: 0.5em 20px 30px;
      border: 1px solid #000;
      &Title {
        position: absolute;
        top: -0.5em;
        left: 50%;
        display: block;
        width: 112px;
        margin: 0;
        font-size: 18px;
        line-height: 1;
        text-align: center;
        letter-spacing: 0.05em;
        background: #fff;
        transform: translateX(-50%);
        &::after {
          position: absolute;
          top: 0;
          display: block;
          width: 100%;
          height: 18px;
          content: "";
          border-right: 1px solid #000;
          border-left: 1px solid #000;
        }
      }
      &List {
        padding: 10px 0;
        counter-reset: ol_li;
      }
      &Item {
        font-size: 14px;
        counter-increment: ol_li;
        border-top: 1px solid #ddd;
        &:first-of-type {
          border-top: none;
        }
        a {
          position: relative;
          display: block;
          padding: 12px 25px 12px 33px;
          &::before {
            position: absolute;
            top: 5px;
            left: 7px;
            margin-right: 5px;
            font-size: 24px;
            color: #9d968d;
            content: counter(ol_li) ".";
          }
          &::after {
            position: absolute;
            top: 50%;
            right: 0;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 6px;
            content: "";
            border-right: 2px solid #9d968d;
            border-bottom: 2px solid #9d968d;
            transform: translateY(-50%) rotate(45deg);
          }
          &:hover {
            span {
              text-decoration: underline;
            }
          }
          span {
            display: inline-block;
          }
        }
      }
    }
  }
}
