@charset "utf-8";

.p-section {
  margin-top: 5rem;
  &__title {
    @include fz(20);
  }
  &__inner {}
  &__text {
    margin-top: 2rem;
    line-height: 1.8;
    p + p {
      margin-top: 2rem;
    }
  }
  &__note { margin-top: 2rem; }
  &__list {
    margin-top: 4rem;
    &.-ul {}
    &.-ol {}
  }
  &__item {
    margin-top: 1rem;
  }
}
