@charset "utf-8";

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include wide($point-wide) {}
*/

.p-single {
  &__inner {
    margin: 20px 0 50px;
  }
  &__meta {
    justify-content: space-between;
    display: flex;
    margin: 0 15px;
  }
  &__cat {
    font-size: 13px;
    position: relative;
    padding-left: 22px;
    margin-top: 5px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      top: 50%;
      background-size: 100% auto;
      background-position: center center;
      transform: translate(0, -50%);
    }
    object a {
      line-height: 14px;
    }
  }
  &__date {
    color: #9D968D;
    font-size: 13px;
  }
  &__title {
    font-size: 20px;
    letter-spacing: 0.05em;
    margin: 12px 15px;
  }
  &__author {
    color: #9D968D;
    font-size: 12px;
    margin: 0 15px;
    a {
      color: #9D968D;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background: #EEE;
    font-size: 14px;
    margin-top: 20px;
    &Brackets {
      position: relative;
      padding: 0 20px;
      display: block;
      &:before,
      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 6px;
        height: 24px;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        top: 50%;
        transform: translate(0, -50%);
      }
      &:before {
        border-left: 2px solid #000;
        left: 0;
      }
      &:after {
        border-right: 2px solid #000;
        right: 0;
      }
    }
  }
  &__lead {
    font-size: 15px;
    line-height: (30/15);
    margin: 20px 20px 30px;
  }
  &__share {
    display: flex;
    justify-content: center;
    align-items: center;
    &List {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &Item {
      margin-left: 0;
      @include ov;
      &:nth-child(1) {
        margin-left: 0;
      }
      img {
        width: 40px;
        height: auto;
      }
    }
  }
  &__nav {
    margin: 0 15px;
    &Link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      padding: 35px 10px;
    }
    &Title {
      @include ov;
    }
    &Sub {
      color: #9D968D;
      font-size: 18px;
      letter-spacing: 0.05em;
    }
    &Text {
      font-size: 18px;
    }
    &List {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
      text-align: center;
    }
    &Item {
      font-size: 15px;
      position: relative;
      text-indent: inherit !important;
      @include ov;
      &.-prev,
      &.-next {
        &:before {
          content: '';
          width: 10px;
          height: 10px;
          top: 50%;
          display: block;
          position: absolute;
          border-top: 2px solid #9D968D;
          border-right: 2px solid #9D968D;
          margin-top: -6px;
        }
      }
      &.-prev {
        padding-left: 14px;
        a {
          color: #ccc;
        }
        &:before {
          transform: rotate(-135deg);
          color: #ccc;
          left: 0;
        }
      }
      &.-next {
        padding-right: 14px;
        &:before {
          transform: rotate(45deg);
          right: 0;
        }
      }
      &.-no {
        &:before {
          border-color: #ccc;
        }
      }
    }
  }
  &__sns {
    display: flex;
    justify-content: center;
    &Item {
      width: 85px;
      height: 50px;
      border-radius: 5px;
      font-size: 13px;
      margin-left: 7px;
      @include ov;
      &:nth-child {
        margin-left: 0;
      }
      a {
        display: block;
        height: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 5px;
        justify-content: space-between;
      }
      &.-twitter {
        background: #1B95E0;
        padding-top: 10px;
        img {
          width: 15px;
          height: auto;
        }
      }
      &.-facebook {
        background: #4267B2;
        padding-top: 10px;
        img {
          width: 8px;
          height: auto;
        }
      }
      &.-line {
        background: #00B900;
        padding-top: 5px;
        img {
          width: 20px;
          height: auto;
        }
      }
    }
    &Text {
      font-size: 13px;
      line-height: 1;
      .-line & {
        font-size: 11px;
      }
    }
  }
  &__ad {
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__summary {
    background: #f1f1f1;
    padding: 30px 20px;
    margin-top: 30px;
    border-top-width: 3px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-style: solid;
    @include pc($point-pc) {
      display: table;
      padding: 35px 30px;
      margin-top: 60px;
    }
    &Inner {
      padding-bottom: 65px;
      @include pc($point-pc) {
        display: table-cell;
        padding: 0 25px 0 0;
      }
    }
    p {
      margin-top: 2em;
      font-size: 15px;
      line-height: (30/15);
    }
    figure {
      margin-top: 0;
      @include pc($point-pc) {
        display: table-cell;
        width: 200px;
      }
    }
    h3 {
      margin-top: 0 !important;
    }
  }
  &__entry {
    background: url(/img/common/line1.svg) 0 0 repeat-x;
    padding: 25px 0;
    margin-top: 25px;
    @include tb($point-tb) {
      margin-right: 20px;
      margin-left: 20px;
    }
    @include pc($point-pc) {
      padding: 50px 0;
      margin-top: 35px;
      margin-right: 0;
      margin-left: 0;
    }
    &:nth-child(1) {
      margin-top: 0;
    }
    &Inner {
      padding: 0 20px;
      overflow: hidden;
      @include tb($point-tb) {
        padding: 0;
      }
      @include pc($point-pc) {
        padding: 0 20px;
      }
      &:nth-child(1) {
        margin-top: 0;
      }
    }
    code {
      padding: 24px 24px 20px;
      margin-top: 1em;
      border: 1px solid #ddd;
      display: block;
    }
    img.alignleft {
      float: left;
      margin: 1em 1.5em 1em 0;
    }
    img.aligncenter {
      display: block;
      margin: 1em auto 1em;
    }
    img.alignright {
      float: right;
      margin: 1em 0 1em 1.5em;
    }
    .gallery {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .gallery-item {
        box-sizing: border-box;
      }
    }
    .gallery.gallery-columns-4 {
      margin: 0 -1.5%;
      width: calc(100% + 3%);
      .gallery-item {
        width: 25%;
        padding: 0 1.5%;
      }
    }
    .gallery.gallery-columns-3 {
      margin: 0 -1.5%;
      width: calc(100% + 3%);
      .gallery-item {
        width: 33.333%;
        padding: 0 1.5%;
      }
    }
    .gallery.gallery-columns-2 {
      margin: 0 -1.5%;
      width: calc(100% + 3%);
      .gallery-item {
        width: 50%;
        padding: 0 1.5%;
      }
    }
    .gallery.gallery-columns-1 {
      width: 100%;
      .gallery-item {
        width: 100%;
      }
    }
    .comic {
      text-align: center;
    }
    .movie {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      margin-top: 30px;
      @include pc($point-pc) {
        margin-top: 40px;
      }
      .video-js,
      iframe {
        position: absolute;
        border: none;
        top: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
      }
    }
    h1,
    h2 {
      font-size: 20px;
      margin-top: 3em;
    }
    h2:not([class]) {
      padding-left: 14px;
      border-left: 4px solid #9D968D;
      line-height: (26/20);
    }
    h3 {
      font-size: 18px;
      margin-top: 2em;
    }
    h4 {
      margin-top: 2em;
    }
    p {
      font-size: 15px;
      line-height: 2;
      margin-top: 2em;
      &:nth-child(1) {
        margin-top: 0;
      }
      a {
        color: #9D968D;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    h2+p {
      margin-top: 2em;
    }
    h3+p {
      margin-top: 1em;
    }
    h4+p {
      margin-top: 0.5em;
    }
    ul,
    ol:not([class]) {
      margin-top: 45px;
      li {
        margin-top: 12px;
        a {
          text-decoration: underline;
          color: #9D968D;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
          &[target="_blank"] {
            &::after {
              content: "";
              display: inline-block;
              background: url(/img/common/new_window.svg) no-repeat 0 0;
              width: 10px;
              height: 10px;
              margin-left: 15px;
            }
          }
        }
      }
    }
    ul {
      li {
        margin-left: 12px;
        text-indent: -16px;
        &:before {
          content: '';
          width: 10px;
          height: 10px;
          top: 50%;
          margin-right: 6px;
          display: inline-block;
          border-top: 2px solid #9D968D;
          border-right: 2px solid #9D968D;
          transform: rotate(45deg);
        }
      }
    }
    ol:not([class]) {
      counter-reset: ol_li;
      li {
        margin-left: 1em;
        text-indent: -1em;
        &:before {
          color: #9D968D;
          font-size: 24px;
          counter-increment: ol_li;
          content: counter(ol_li);
          margin-right: 5px;
        }
      }
    }
    h2+ul {
      margin-top: 2em;
    }
    h3+ul,
    h4+ul {
      margin-top: 1em;
    }
    hr {
      background: url(/img/common/line1.svg) 0 0 repeat-x;
      border: none;
      padding-top: 6px;
      width: 100vw;
      margin: 20px -20px;
    }
    .wp-caption {
      margin-top: 1em;
      max-width: 100%;
      &-text {
        margin-top: 15px;
        color: #888;
        font-size: 12px;
        line-height: (18/12);
      }
    }
    img {
      max-width: 100%;
      height: auto;
      pointer-events: none;
    }
    em {
      font-style: normal;
    }
    strong {}
    blockquote {
      background: #f1f1f1;
      padding: 30px 20px;
      margin-top: 30px;
      font-size: 13px;
      font-style: italic;
      position: relative;
      a {
        color: #9D968D;
        font-style: normal;
        font-size: 12px;
        cursor: pointer;
      }
    }
    table {
      width: 100%;
      margin-top: 2em;
      border-collapse: collapse;
      border-top-width: 1px;
      border-right-width: 0;
      border-bottom-width: 0;
      border-left-width: 0;
      border-style: solid;
      th,
      td {
        padding: 10px;
        border-top-width: 0;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 0;
        border-style: solid;
        font-size: 13px;
        &:nth-last-of-type(1) {
          border-right: none;
        }
      }
      th {
        background: #f1f1f1;
        text-align: left;
      }
    }
    .p-single__contents {
      border: 1px solid #000;
      position: relative;
      padding: 0 15px;
      margin: .5em 0 30px;
      &Title {
        display: block;
        margin: 0;
        font-size: 18px;
        line-height: 1;
        position: absolute;
        width: 112px;
        text-align: center;
        top: -.5em;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        letter-spacing: .05em;
        &:after {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          width: 100%;
          height: 18px;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        }
      }
      &List {
        padding: 10px 0;
        counter-reset: ol_li;
      }
      &Item {
        counter-increment: ol_li;
        font-size: 14px;
        border-top: 1px solid #ddd;
        &:first-of-type {
          border-top: none;
        }
        a {
          display: block;
          padding: 12px 25px 12px 33px;
          position: relative;
          &:before {
            color: #9D968D;
            font-size: 24px;
            content: counter(ol_li) ".";
            margin-right: 5px;
            position: absolute;
            left: 7px;
            top: 5px;
          }
          &:after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 50%;
            right: 0;
            margin-right: 6px;
            display: inline-block;
            border-right: 2px solid #9D968D;
            border-bottom: 2px solid #9D968D;
            transform: translateY(-50%) rotate(45deg);
          }
          &:hover {
            span {
              text-decoration: underline;
            }
          }
          span {
            display: inline-block;
          }
        }
      }
    }
  }
}