@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.p-single {
  &__meta {
    display: flex;
    > * {
      margin-right: 20px;
    }
  }
  &__cat {
    @include fz(13);
    position: relative;
  }
  &__date {
    color: #9D968D;
    @include fz(13);
  }
  &__title {
    @include fz(30);
    margin-top: 20px;
  }
  &__author {
    color: #9D968D;
    @include fz(12);
  }
  &__lead {
    @include fz(15);
    line-height: (30/15);
    margin-top: 15px;
  }
  &__entry {
    h2 {
      border-left: 5px solid #666;
      margin-bottom: 20px;
      margin-top: 40px;
      padding-left: 10px;
    }
  }
}