.p_notfound {
  .p_notfound__inner {
    padding: 25px 0;
    overflow: hidden;
    background: #eee;
  }
  .p_notfound__title {
    @include fz(18);
    line-height: (25 / 18);
    text-align: center;
  }
  .p_notfound__text {
    @include fz(14);
    margin-top: 6px;
    line-height: (25 / 14);
    color: #9d968d;
    text-align: center;
  }
  .p_notfound__lead {
    margin: 25px 0 30px;
    @include fz(13);
    line-height: (24 / 13);
    text-align: center;
  }
  .p_notfound__more {
    margin: 0 15px 25px;
    @include fz(14);
    a {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 38px;
      padding-top: 25px;
    }
  }
}
