@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.p-temp {
  &__section {
    padding-top: 20px;
  }
  &__title {
    margin-top: 1em;
    font-size: 24px;
    color: #EE9C6A;
    border-bottom: 2px solid #EE9C6A;
  }
  &__titleS {
    margin-top: 1em;
    font-size: 20px;
    border-bottom: 2px solid #000;
  }
  &__text {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.7;
  }
  &__code {
    margin-top: 60px;
    margin-bottom: 100px;
    background: #fff;
    padding: 20px;
    position: relative;
//    &:before {
//      content: 'CODE';
//      position: absolute;
//      top: 0;
//      left: 30px;
//      color: #fff;
//      padding: 6px 10px;
//      background: tomato;
//    }
  }
}

.demo_title{
  font-size: 14px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
}