@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

.temp-url {
  font-size: 12px;
  margin: 0 0 24px;
}

.temp-list {
  margin: 32px 0 48px;
  li {
    margin: 0 0 1em;
  }
}