@charset "utf-8";

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/

.c-form {
  h3 {
    margin: 0 0 12px;
  }
  //☆ラジオボタン START
  input[type=radio] {
    display: none;
    margin: 0;
  }
  input[type=radio]:checked+.c-form__labelRadio:after {
    left: 6px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    background: #000;
    border-radius: 8px;
    content: "";
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    display: block;
  }
  &__labelRadio {
    position: relative;
    display: inline-block;
    margin-right: 28px;
    line-height: 1.5px;
    cursor: pointer;
    padding: 0 0 0 30px;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      display: block;
      width: 22px;
      height: 22px;
      margin-top: -11px;
      background-color: white;
      border-radius: 50%;
    }
  }
  //☆ラジオボタン END
  //☆チェックボックス START
  input[type=checkbox] {
    display: none;
    margin: 0;
  }
  input[type=checkbox]:checked+.c-form__labelCheck:after {
    left: 3px;
    width: 16px;
    height: 8px;
    margin-top: -6px;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    display: block;
  }
  &__labelCheck {
    position: relative;
    display: inline-block;
    margin-right: 28px;
    line-height: 1.5px;
    cursor: pointer;
    padding: 0 0 0 30px;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      display: block;
      width: 22px;
      height: 22px;
      margin-top: -11px;
      background-color: white;
    }
  }
  //☆チェックボックス END
  //☆リード文 START
  &__lead {
    font-size: 18px;
    &Text {
      margin: 0 0 40px;
    }
  }
  //☆リード文 START
  //☆先頭エラー文 START
  &__errorWrap {
    margin: 0 0 40px;
    &__title {
      color: #EF5A24;
      font-weight: bold;
      font-size: 16px;
      margin: 0 0 12px;
    }
    &__list {
      border: 2px solid #EF5A24;
      padding: 20px 20px 12px;
      border-radius: 4px;
      list-style: none;
      margin: 0;
    }
    &__item {
      color: #EF5A24;
      font-size: 16px;
      margin: 0 0 12px;
    }
  }
  //☆先頭エラー文 START
  &__group {
    margin: 0 0 32px;
  }
  &__label {}
  &__must {}
  &__select {
    overflow: hidden;
    border: 1px solid #333;
    position: relative;
    width: 180px;
    display: inline-block;
    &:before {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #333 transparent transparent;
      margin: -3px 0 0;
    }
    select {
      width: 100%;
      padding: 0 10px;
      border: 0;
      height: 40px;
      appearance: none;
      background: #fff;
      display: inline-block;
      width: 210px;
    }
  }
  &__inputText {
    border: 1px solid #666;
    padding: 8px 10px;
    box-sizing: border-box;
  }
  &__textArea {
    border: 1px solid #666;
    padding: 8px 10px;
    box-sizing: border-box;
  }
  &__must {
    font-size: 12px;
    color: #fff;
    background: #999;
    line-height: 18px;
    height: 18px;
    padding: 0 10px;
    display: inline-block;
    border-radius: 9px;
    margin: 0 0 0 8px;
    vertical-align: middle;
  }
  &__column {
    display: table;
    &Title {
      display: table-cell;
      vertical-align: top;
      padding: 0 18px 0 0;
    }
    &Body {
      display: table-cell;
      vertical-align: top;
    }
  }
  &__privacy{
    &Inner{
      overflow: auto;
    }
  }
}