@charset "utf-8";

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/

.c-pageHeading {
  text-align: center;
  @include font-EN;
  line-height: 1.1;
  @include sp($point-sp) {
    font-size: 24px;
    margin: 0 0 24px;
  }
  @include tb($point-tb) {
    font-size: 36px;
    margin: 0 auto 50px;
  }
  &--jp {
    @include font-JP;
    @include tb($point-tb) {
      font-size: 30px;
      line-height: 1.1;
    }
    @include sp($point-sp) {
      padding: 12px 0 0;
      font-size: 19px;
    }
    &.border {
      &::after {
        @include tb($point-tb) {
          margin: 54px auto 48px !important;
        }
        @include sp($point-sp) {
          margin: 27px auto 30px !important;
        }
      }
    }
  }
  &.border {
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 0;
      margin: 42px auto 48px;
      border-bottom: 1px solid #333;
      @include sp($point-sp) {
        width: 45px;
        margin: 24px auto 30px;
      }
    }
  }
}