@charset "utf-8";

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/

  .c-newslist {
    @include sp($point-sp) {
      padding: 0 25px 0;
    }
    @include tb($point-tb) {
      margin: 0 auto;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include tb($point-tb) {
        margin: 0 0 24px;
      }
    }
    &__item {
      display: table;
      @include sp($point-sp) {
        margin: 0 0 (18px-4);
        width: 100%;
      }
      @include tb($point-tb) {
        margin: 0 0 (30px-4);
        width: calc(50% - 20px);
      }
      a {
        display: block;
        &:hover {
          .News__text {
            color: #a6a6a6;
          }
        }
      }
    }
    &__thumb {
      display: table-cell;
      @include sp($point-sp) {
        padding: 5px 12px 0 0;
      }
      @include tb($point-tb) {
        padding: 5px 24px 0 0;
      }
      span {
        overflow: hidden;
        width: 72px;
        height: 72px;
        display: block;
      }
      img {
        width: 72px;
        height: auto;
      }
    }
    &__body {
      display: table-cell;
      vertical-align: top;
    }
    &__meta {
      @include sp($point-sp) {
        margin: 0 0 6px;
      }
      @include tb($point-tb) {
        margin: 0 0 8px;
      }
    }
    &__date {
      display: inline-block;
      color: #a6a6a6;
      @include font-EN;
      line-height: 1.1;
      @include sp($point-sp) {
        font-size: 11px;
      }
      @include tb($point-tb) {
        font-size: 14px;
      }
    }
    &__cat {
      color: #a6a6a6;
      @include font-EN;
      @include sp($point-sp) {
        margin: 0 0 0 12px;
        font-size: 11px;
      }
      @include tb($point-tb) {
        margin: 0 0 0 24px;
        font-size: 14px;
      }
    }
    &__text {
      line-height: 1.6;
      @include sp($point-sp) {
        font-size: 10px;
      }
      @include tb($point-tb) {
        font-size: 14px;
      }
    }
  }
