@charset "utf-8";

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/

.c-paging {
  .c-paging__list {
    text-align: center;
    a {
      color: #000;
      text-decoration: none;
    }
    .c-paging__prev,
    .c-paging__next {
      display: inline-block;
      a {
        display: block;
        padding: 0.285em 0.8em;
      }
    }
    .c-paging__item {
      display: inline-block;
      margin: 0 3px;
      &.is-current {
        a {
          background: #000;
          color: #fff;
        }
      }
      a {
        display: block;
        padding: 0.285em 0.8em;
        border: 1px solid #000;
        font-size: 18px;
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
    .c-paging__prev {}
    .c-paging__next {}
    .c-paging__icon {}
    .c-paging__text {
      display: none;
    }
  }
}