  @charset "utf-8";
  /*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
  
  .c-table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    caption {}
    thead {
      th {}
    }
    th,
    td {
      vertical-align: top;
      border-top: 2px solid #333;
      border-left: 2px solid #333;
      padding: 8px;
      line-height: (18/14);
    }
    th {}
    td {}
  }