@use "../global";

.e_input {
  width: 100%;
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  input[type="password"],
  input[type="email"] {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 0;
    &::placeholder {
      color: #ccc;
    }
  }
}
