@charset "utf-8";
//@include inputBtnM();
@mixin inputBtnM($value:300px) {
    background: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    letter-spacing: .1em;
    margin: 0 auto;
    padding: 19px 0;
    text-align: center;
    text-decoration: none;
    width: $value;
    transition: all .3s linear;
    border: 1px solid #fff;
    @media screen and (max-width: 768px) {
        font-size: 14px;
        width: 180px;
        padding: 15px 0;
    }
    span {
        position: relative;
        padding: 0 15px 0 0;
        @media screen and (max-width: 768px) {
            padding: 0 11px 0 0;
        }
        &:before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            right: 0;
            position: absolute;
            top: 50%;
            margin: -5px 0 0;
            border-bottom: 3px solid #fff;
            border-right: 3px solid #fff;
            transform: rotate(-45deg);
            @media screen and (max-width: 768px) {
                margin: -4px 0 0;
                width: 7px;
                height: 7px;
            }
        }
    }
    &:hover {
        background: #fff;
        border: 1px solid #333;
        color: #333;
        span {
            &:before {
                border-bottom: 3px solid #333;
                border-right: 3px solid #333;
            }
        }
    }
}

.c-btn {
    @include inputBtnM();
}

.c-btnM {
    @include inputBtnM(322px);
    @media screen and (max-width: 768px) {
        width: 100%;
        @include boxSizing;
    }
}

.c-btnL {
    @include inputBtnM(440px);
    @media screen and (max-width: 768px) {
        width: 100%;
        @include boxSizing;
    }
}