@charset "utf-8";

br {
  &.c-brSP {
    display: inline;
    @include desktop {
      display: none;
    }
  }
  &.c-brPC {
    display: none;
    @include desktop {
      display: inline;
    }
  }
}
