@charset "utf-8";

.c-checkbox {
  input[type="checkbox"] {
    display: none;
    margin: 0;
  }
  input[type="checkbox"]:checked + .c-checkbox__label::after {
    position: absolute;
    top: 50%;
    left: 3px;
    box-sizing: border-box;
    display: block;
    width: 16px;
    height: 8px;
    margin-top: -6px;
    content: "";
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    transform: rotate(-45deg);
  }
  .c-checkbox__label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 30px;
    margin-right: 28px;
    line-height: 1.5px;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      display: block;
      width: 22px;
      height: 22px;
      margin-top: -11px;
      content: "";
      background-color: white;
      border: 1px solid #000;
    }
  }
}
