@charset "utf-8";

.c-card {
  display: block;
  .c-card__link {
    display: block;
    text-decoration: none;
    border: 1px solid #666;
  }
  .c-card__figure {
    img {
      width: 100%;
      height: auto;
    }
  }
  .c-card__meta {
    display: flex;
  }
  .c-card__cat {
    a {
      text-decoration: none;
    }
  }
  .c-card__body {
    padding: 20px;
  }
  .c-card__date {
    margin-left: 20px;
  }
  .c-card__title {
    @include fz(16);
  }
  .c-card__action {
    padding: 0 20px 20px;
  }
}
