@charset "utf-8";

.c-heading01 {
  @include fz(24);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.c-heading02 {
  @include fz(18);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.c-heading03 {
  @include fz(14);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.c-heading04 {
  @include fz(22);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}

.c-heading05 {
  @include fz(18);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}
