@charset "utf-8";

//矢印
//三角
.c-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: #f00;
  &.-cross {
    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 2px;
      height: 14px;
      content: "";
      background: #000;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  //**三角**//
  &.-arrow1 {
    &::before {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      content: "";
      border-color: #000 transparent transparent transparent;
      border-style: solid;
      border-width: 10px 6px 0 6px;
    }
  }
  &.-arrow2 {
    &::before {
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      content: "";
      border: 2px #000 solid;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
