@charset "utf-8";

.c-tag {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    background: yellowgreen;
    border-radius: 40px;
    @include fz(14);
  }
  .c-tags {
    display: flex;
    &.-center {
      justify-content: center;
    }
  }
  & + & {
    margin-left: 5px;
  }
}
