@charset "utf-8";

.l-footer {
  position: relative;
  padding: 50px 0;
  margin-top: 40px;
  background: #eee;
  .l-footer__copy {
    @include fz(11);
  }
  .l-footer__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    margin: 20px auto;
  }
  .l-footer__nav {
    // style
  }
  .l-footer__navList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .l-footer__navItem {
    position: relative;
    a {
      padding: 0 12px;
    }
  }
}
