@charset "utf-8";

.l-sub {
  width: 280px;
  padding: 20px;
  margin-left: 20px;
  background: #efefef;
  .l-sub__title {
    @include fz(16);
  }
  .l-sub__list {
    margin-top: 5px;
    margin-left: 10px;
  }
  .l-sub__item {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .l-sub__section {
    & + & {
      margin-top: 30px;
    }
  }
}
