<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body>
  <div class="l-container">
    <!-- l-header START -->
    @@include('l-header.html')
    <!-- l-header END -->
    <div class="l-contents">
      <main class="l-main">

        <!-- c-breadcrumbs START -->
        @@include('c-breadcrumbs.html')
        <!-- c-breadcrumbs END -->

        <h2 class="c-pageHeading border">HTML Parts</h2>

        <!-- c-notfound START -->
        @@include('c-notfound.html')
        <!-- c-notfound END -->

      </main>
    </div>
    @@include('l-footer.html')
  </div>
  @@include('javascript.html')
</body>

</html>