<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>title</title>
@@include('head.html')
</head>

<body>
<div class="l-container">
@@include('l-header.html')
<main class="l-main">
  
<nav class="pagination" role="navigation" aria-label="Page navigation">
  <ul class="pagination__list">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#" aria-label="Page1">1</a></li>
    <li><a href="#" aria-label="Page2">2</a></li>
    <li><a href="#" aria-label="Page3">3</a></li>
    <li><a href="#" aria-label="Page4">4</a></li>
    <li><a href="#" aria-label="Page5">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</main>
@@include('l-footer.html')
</div>
@@include('javascript.html')
</body>
</html>