<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">
<!-- l-header START -->
<%- include('./_include/_l-header', {id: pageId}) %>
<!-- l-header END -->

<div class="l-contents">

<main class="l-main">

<section class="p-temp">
<h2 class="p-temp__title">Base 基本</h2>

<p class="p-temp__text">基本的な設定</p>

<h3>_form.scss</h3>
<h3>_mixin.scss</h3>
<h3>_reset.scss</h3>
<h3>_utility.scss</h3>
<h3>_foundation.scss</h3>
<h3>_grid.scss</h3>
<h3>_breakpoint.scss</h3>
<h3>_font.scss</h3>
<h3>_br.scss</h3>
<h3>_table.scss</h3>
<h3>_zindex.scss</h3>

</section>

<h2>レイアウト</h2>





<h2>ページテンプレート</h2>

<ul class="p-list__list">
<li class="p-list__item -cat1"><a href="page_normal.html">ベースページ page_normal</a></li>
<li class="p-list__item -cat2"><a href="p-single.html">記事ページ p-single</a></li>
<li class="p-list__item -cat2"><a href="p-archive.html">一覧ページ 作成中</a></li>
<li class="p-list__item -cat2"><a href="p-faq.html">FAQページ 作成中</a></li>
<li class="p-list__item -cat3"><a href="p-form.html">フォームページ p-form</a></li>
<li class="p-list__item -cat4"><a href="p-privacy.html">プライバシーポリシー p-privacy</a></li>
<li class="p-list__item -cat5"><a href="p-notfound.html">404 p-notfound</a></li>
</ul>

</main>

</div>

<%- include('./_include/_l-footer') %>

</div>
<%- include('./_include/common/_foot') %>