<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body>
  <div class="l-container">
    <!-- l-header START -->
    @@include('l-header.html')
    <!-- l-header END -->
    <div class="l-contents">



      <main class="l-main">

        <h2 class="c-pageHeading border">CONCEPT</h2>


        <!-- c-breadcrumbs START -->
        @@include('c-breadcrumbs.html')
        <!-- c-breadcrumbs END -->

        <!-- c-card START -->
        @@include('c-card.html')
        <!-- c-card END -->

        <!-- c-newslist START -->
        @@include('c-newslist.html')
        <!-- c-newslist END -->

        <!-- c-table START -->
        @@include('c-table.html')
        <!-- c-table END -->

        <!-- c-form START -->
        @@include('c-form.html')
        <!-- c-form END -->

        <!-- c-pagination START -->
        @@include('c-pagination.html')
        <!-- c-pagination END -->

        <!-- l-share START -->
        @@include('l-share.html')
        <!-- l-share END -->

        <h2 class="temp-h2">Icon</h2>
        <p class="temp-url"><a href="http://fontawesome.io/icons/">http://fontawesome.io/icons/</a>
        </p>
        <i class="fa fa-bath" aria-hidden="true"></i>

      </main>
      <!-- l-sub START -->
      @@include('l-sub.html')
      <!-- l-sub END -->
    </div>
    @@include('l-footer.html')
  </div>
  @@include('javascript.html')
</body>

</html>