<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body>
  <div class="l-container">
    <!-- l-header START -->
    @@include('l-header.html')
    <!-- l-header END -->
    <div class="l-contents">
      <main class="l-main">

        <!-- c-breadcrumbs START -->
        @@include('c-breadcrumbs.html')
        <!-- c-breadcrumbs END -->

        <h2 class="temp-h2">HTML Parts</h2>

        <ul class="temp-list">
          <li><a href="c-card.html">c-card</a></li>
          <li><a href="c-newslist.html">c-newslist</a></li>
          <li><a href="c-table.html">c-table</a></li>
          <li><a href="c-form.html">c-form</a></li>
          <li><a href="c-pagination.html">c-pagination</a></li>
          <li><a href="c-share.html">c-share</a></li>
        </ul>
        
        <h2 class="temp-h2">Page Template</h2>
        
        <ul class="temp-list">
          <li><a href="http://world.wd-flat.com/E01_news_detail.html">entrypage</a></li>
          <li><a href="http://world.wd-flat.com/H02_privacypolicy.html">privacyPage</a></li>
          <li><a href="">faqPage</a></li>
          <li><a href="http://world.wd-flat.com/E00_company.html">companyPage</a></li>
          <li><a href="">404Page</a></li>
          <li><a href="http://world.wd-flat.com/G02_contact_complete.html">contact_completePage</a></li>
        </ul>
        
        <h2 class="temp-h2">Page Template</h2>
        
        <ul class="temp-list">
          <li><a href="http://world.wd-flat.com/E01_news_detail.html">entrypage</a></li>
          <li><a href="http://world.wd-flat.com/H02_privacypolicy.html">privacyPage</a></li>
          <li><a href="">faqPage</a></li>
          <li><a href="http://world.wd-flat.com/E00_company.html">companyPage</a></li>
          <li><a href="">404Page</a></li>
          <li><a href="http://world.wd-flat.com/G02_contact_complete.html">contact_completePage</a></li>
        </ul>

        <h2 class="temp-h2">Icon</h2>
        <p class="temp-url"><a href="http://fontawesome.io/icons/">http://fontawesome.io/icons/</a>
        </p>
        
        <span class="c-iconfont"><i class="fa fa-bath" aria-hidden="true"></i></span>
       

      </main>
      <!-- l-sub START -->
      @@include('l-sub.html')
      <!-- l-sub END -->
    </div>
    @@include('l-footer.html')
  </div>
  @@include('javascript.html')
</body>

</html>