<% var pageId = 'hoge'; %>
<%- include('./_include/common/_head') %>

<div id="pagetop" class="l-container">
<!-- l-header START -->
<%- include('./_include/_l-header', {id: pageId}) %>
<!-- l-header END -->

<div class="l-contents">

<main class="l-main">

<div class="__grid _pc_row">
<section class="p-temp __grid__row _pc_row4">
<h2 class="p-temp__title">Base 基本</h2>

<ul class="p-temp__list">
<li>_form.scss</li>
<li>_mixin.scss</li>
<li>_reset.scss</li>
<li>_utility.scss</li>
<li>_foundation.scss</li>
<li>_grid.scss</li>
<li>_breakpoint.scss</li>
<li>_font.scss</li>
<li>_br.scss</li>
<li>_table.scss</li>
<li>_zindex.scss</li>
</ul>
</section>

<section class="p-temp __grid__row _pc_row4">
<h2 class="p-temp__title">レイアウト</h2>
</section>

<section class="p-temp __grid__row _pc_row4">
<h2 class="p-temp__title">ページテンプレート</h2>

<ul class="p-list__list">
<li class="p-list__item -cat1"><a href="page_normal.html">ベースページ 済</a></li>
<li class="p-list__item -cat2"><a href="p-single.html">記事ページ 済</a></li>
<li class="p-list__item -cat2"><a href="p-archive_list.html">一覧/リストページ 済</a></li>
<li class="p-list__item -cat2"><a href="p-archive_card.html">一覧/カードページ 済</a></li>
<li class="p-list__item -cat2"><a href="p-faq.html">FAQページ 済</a></li>
<li class="p-list__item -cat3"><a href="p-form.html">フォームページ p-form</a></li>
<li class="p-list__item -cat4"><a href="p-privacy.html">プライバシーポリシー 済</a></li>
<li class="p-list__item -cat5"><a href="p-notfound.html">404 済</a></li>
</ul>
</section>
</div>

</main>

</div>

<%- include('./_include/_l-footer') %>

</div>
<%- include('./_include/common/_foot') %>