<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>title</title>
  @@include('head.html')
</head>

<body>
  <div class="l-container">
    <!-- l-header START -->
    @@include('l-header.html')
    <!-- l-header END -->
    <div class="l-contents">
      <main class="l-main">
        <div class="p-single -cat-cooking">
          <div class="Kv">
            <img src="/img/dummy/single_kv.jpg" alt="">
          </div>
          <div class="p-single__inner">
            <div class="p-single__meta">
              <div class="p-single__cat"><object><a href="">時短料理</a></object></div>
              <time class="p-single__date">2018.05.13</time>
            </div>
            <h1 class="p-single__title">5分で作れる簡単晩ごはん！時短「鮭のつつみ焼き」</h1>
            <div class="p-single__author">Author : daysy編集部</div>
            <div class="p-single__time"><span class="p-single__timeBrackets -housework">時短効果：マイナス15分！</span></div>
            <div class="p-single__lead">オーブンシートで鮭と野菜を包んで焼くだけ。うまみをそのまま閉じこめた味わい深い一品になります。</div>
            <div class="p-single__share">
              <div class="p-single__shareTitle">Share on :</div>
              <ul class="p-single__shareList">
                <li class="p-single__shareItem -facebook">
                  <a href=""><img src="/img/icon/sns_facebook.svg" alt="Facebook"></a>
                </li>
                <li class="p-single__shareItem -twitter">
                  <a href=""><img src="/img/icon/sns_twitter.svg" alt="Twitter"></a>
                </li>
                <li class="p-single__shareItem -line">
                  <a href=""><img src="/img/icon/sns_line.svg" alt="LINE"></a>
                </li>
              </ul>
            </div>
            <div class="p-single__entry">
              <h2>table</h2>
              <table>
                <tbody>
                  <tr>
                    <th>項目</th>
                    <th>項目</th>
                  </tr>
                  <tr>
                    <td>7：00</td>
                    <td>出発</td>
                  </tr>
                  <tr>
                    <td>7：30～8：30</td>
                    <td>着付け、ヘアセット、メイク（女の子）</td>
                  </tr>
                  <tr>
                    <td>8：30～10：00</td>
                    <td>写真撮影、写真選び</td>
                  </tr>
                  <tr>
                    <td>11：00～12：30</td>
                    <td>神社でお参り、ご祈祷、記念撮影</td>
                  </tr>
                  <tr>
                    <td>13：00～15：00</td>
                    <td>食事会</td>
                  </tr>
                  <tr>
                    <td>15：30～16：30</td>
                    <td>衣装返却（レンタルの場合）</td>
                  </tr>
                  <tr>
                    <td>17：00</td>
                    <td>帰宅</td>
                  </tr>
                </tbody>
              </table>
              <h2>段落／文字種類</h2>
              これはテスト投稿ですこれは<strong>太字strong</strong>これは<em>色付き文字em</em>ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿です<a href="http://link">リンクURL</a>これはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿です これはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿です
              <h2>ギャラリー 横4列／横3列／横2列／横1列</h2>
              <h3>横4列</h3>
              [gallery columns="4" link="none" size="large" ids="263,265,264,258,257,256,251,250"]
              <h3>横3列</h3>
              [gallery columns="3" link="none" size="large" ids="263,265,264,258,257,256"]
              <h3>横2列</h3>
              [gallery link="none" columns="2" size="large" ids="265,264,263,258"]
              <h3>横1列</h3>
              [gallery columns="1" link="none" size="large" ids="264,263"]
              <h2>写真＋キャプション</h2>
              [caption id="attachment_180" align="alignnone" width="600"]<img class="size-full wp-image-180" src="/wp-content/uploads/2018/06/sitigosann-toujitu2.jpg" alt="" width="600" height="400" /> 前撮りをせずに七五三当日に写真撮影をする場合、どのようなことに気を付ければよいのでしょうか？[/caption]
              <h2>ulリスト／olリスト</h2>
              <ul>
                <li>リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。</li>
                <li><b>リストの太字テキストが入ります。</b><a>http://hoge.com http://hoge.com</a>リストのテキストが入ります。リストのテキストが入ります。</li>
                <li><b>リストの太字テキストが入ります。</b><a>http://hoge.com http://hoge.com</a>リストのテキストが入ります。リストのテキストが入ります。</li>
              </ul>
              <ol>
                <li>リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。リストのテキストが入ります。</li>
                <li><b>リストの太字テキストが入ります。</b><a>http://hoge.com http://hoge.com</a>リストのテキストが入ります。リストのテキストが入ります。</li>
                <li><b>リストの太字テキストが入ります。</b><a>http://hoge.com http://hoge.com</a>リストのテキストが入ります。リストのテキストが入ります。</li>
              </ol>
              <ul>
                <li>子どもに合わせた余裕あるスケジュールを組む</li>
                <li><a>当日撮影するなら時間をかけすぎないように注意する</a></li>
                <li><a target="_blank" rel="noopener">便利な持ち物を用意して準備万端で臨む</a></li>
              </ul>
              <h2 id="mokuji_ID_1">引用</h2>
              本文がここに入ります。サンプルテキストもここに入り、sampletextもここに入ります。本文がここに入りま す。サンプルテキストもここに入り、sampletextもここに入ります。 本文がここに入ります。サンプルテキストもここに入り、sampletextもここに入ります。本文がここに入ります。 サンプルテキストもここに入り、sampletextもここに入ります。本文がここに入ります。サンプルテキストもここに入り、sampletextもここに入ります。
              <blockquote>引用文がここに入ります。サンプルテキストもここに入り、sampletextもここに入ります。引用文がここに入ります。サンプルテキストもここに入り、sampletextもここに入ります
                <a>出展 http://--------</a></blockquote>
              <h2>囲み</h2>
              <code>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</code>
              <h2>画像／left／center／right／指定なし</h2>
              <h3>画像／left</h3>
              <img class="alignleft size-thumbnail wp-image-238" src="/wp-content/uploads/2018/06/omutsu-naku03-150x150.jpg" alt="" width="150" height="150" />テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。 テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
              <h3>画像／center</h3>
              <img class="aligncenter size-thumbnail wp-image-238" src="/wp-content/uploads/2018/06/omutsu-naku03-150x150.jpg" alt="" width="150" height="150" /> テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。 テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
              <h3>画像／right</h3>
              <img class="alignright size-thumbnail wp-image-238" src="/wp-content/uploads/2018/06/omutsu-naku03-150x150.jpg" alt="" width="150" height="150" />テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。 テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
              <h2>まとめ</h2>
              <div class="p-single__summary">
                <div class="p-single__summaryInner">
                  <h3>まとめの見出しが入ります。まとめの見出しが入ります。</h3>
                  テスト投稿ですテスト投稿ですテスト投稿ですテスト投稿ですテスト投稿ですテスト投稿ですテスト投稿ですテスト投稿です

                </div>
              </div>
              <div class="p-single__summary">
                <div class="p-single__summaryInner">
                  <h3>まとめの見出しが入ります。まとめの見出しが入ります。</h3>
                  テスト投稿ですテスト投稿ですテスト投稿ですテスト投稿ですテスト投稿ですテスト投稿ですテスト投稿ですテスト投稿です

                </div>
                <figure><img src="/img/dummy/single_thumb01.jpg" alt="daysy編集部名義での記事UP" />
                  <figcaption>キャプションが入ります。キャプションが入ります。キャプションが入ります。</figcaption>
                </figure>
              </div>

              <!--nextpage-->

              2ページ目 はテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテスト投稿ですこれはテ

              <!--nextpage-->
              <p id="mokuji_ID_2">3ページ目</p>
              <div class="p-single__entryInner">
                <p>私も生涯始めてこの発展心というののために思いでた。やはりほかに講演通りはとやかくこの戦争ですないまでへしけれどもいならからも焦燥待っんまして、それほどとは許さですですますた。他で考えるな【100文字】</p>

                <p>私も生涯始めてこの発展心というののために思いでた。やはりほかに講演通りはとやかくこの戦争ですないまでへしけれどもいならからも焦燥待っんまして、それほどとは許さですですますた。他で考えるな【100文字】</p>

                <p>私も生涯始めてこの発展心というののために思いでた。やはりほかに講演通りはとやかくこの戦争ですないまでへしけれどもいならからも焦燥待っんまして、それほどとは許さですですますた。他で考えるな【100文字】</p>

                <hr>

                <p>私も生涯始めてこの発展心というののために思いでた。やはりほかに講演通りはとやかくこの戦争ですないまでへしけれどもいならからも焦燥待っんまして、それほどとは許さですですますた。他で考えるな【100文字】</p>

                <p>私も生涯始めてこの発展心というののために思いでた。やはりほかに講演通りはとやかくこの戦争ですないまでへしけれどもいならからも焦燥待っんまして、それほどとは許さですですますた。他で考えるな【100文字】</p>

                <p>私も生涯始めてこの発展心というののために思いでた。やはりほかに講演通りはとやかくこの戦争ですないまでへしけれどもいならからも焦燥待っんまして、それほどとは許さですですますた。他で考えるな【100文字】</p>

                <hr>

                <p>私も生涯始めてこの発展心というののために思いでた。やはりほかに講演通りはとやかくこの戦争ですないまでへしけれどもいならからも焦燥待っんまして、それほどとは許さですですますた。他で考えるな【100文字】</p>

                <p>私も生涯始めてこの発展心というののために思いでた。やはりほかに講演通りはとやかくこの戦争ですないまでへしけれどもいならからも焦燥待っんまして、それほどとは許さですですますた。他で考えるな【100文字】</p>

                <p>私も生涯始めてこの発展心というののために思いでた。やはりほかに講演通りはとやかくこの戦争ですないまでへしけれどもいならからも焦燥待っんまして、それほどとは許さですですますた。他で考えるな【100文字】</p>
              </div>
            </div>

            <div class="p-single__nav">
              <div class="p-single__navTitle">
                <a class="p-single__navLink" href="">
                  <div class="p-single__navSub">Next Page</div>
                  <div class="p-single__navText">次のページの記事タイトルが入ります</div>
                </a>
              </div>
              <ul class="p-single__navList">
                <li class="p-single__navItem -prev -no"><a href="">前のページ</a></li>
                <li class="p-single__navItem -next"><a href="">次のページ</a></li>
              </ul>
            </div>

            <div class="p-single__ad">
              <a href=""><img src="/img/dummy/ad.png" alt=""></a>
            </div>

            <ul class="p-single__sns">
              <li class="p-single__snsItem -twitter">
                <a href=""><img src="/img/icon/sns_twitter_white.svg" alt="Twitter"><span class="p-single__snsText">Tweet</span></a>
              </li>
              <li class="p-single__snsItem -facebook">
                <a href=""><img src="/img/icon/sns_facebook_white.svg" alt="Facebook"><span class="p-single__snsText">Share</span></a>
              </li>
              <li class="p-single__snsItem -line">
                <a href=""><img src="/img/icon/sns_line_white.svg" alt="LINE"><span class="p-single__snsText">送る</span></a>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </div>
    @@include('l-footer.html')
  </div>
  @@include('javascript.html')
</body>

</html>