@charset "utf-8";
.page-category-qa {
    .c-pageTitleWrap {
        margin: 0 auto 70px;
        @media screen and (max-width: 768px) {
            margin: 0 auto;
        }
    }
    .c-pageTitleEN {
        font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    }
}

.qa-sec {
    margin-bottom: 110px;
    @media screen and (max-width: 768px) {
        margin: 0 0 50px;
        &#personal {
            margin: 0;
        }
    }
}

.qa-blc {
    margin-top: 66px;
    @media screen and (max-width: 768px) {
        margin: 30px 0 0;
    }
    &:after {
        width: 100px;
        padding-top: 40px;
        content: "";
        display: block;
        border-bottom: 2px solid #e5e5e5;
        @media screen and (max-width: 768px) {
            width: 50px;
            padding: 30px 0 0;
        }
    }
    &:last-child {
        &:after {
            border-bottom: none;
        }
    }
}

.qa-blc__hd {
    margin: 0 0 10px;
    overflow: hidden;
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: .05em;
    font-weight: normal;
    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
    .em-color {
        float: left;
        line-height: 1;
        margin-right: 10px;
        color: #22ccb2;
        font-size: 40px;
        font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
        @media screen and (max-width: 768px) {
            font-size: 20px;
        }
    }
    .text {
        line-height: 1.3;
        overflow: hidden;
        display: block;
    }
    &.answer {
        margin-bottom: 30px;
        @media screen and (max-width: 768px) {
            margin: 15px 0 20px;
        }
    }
}

.qa-blc__txtdot,
.qa-blc__txt {
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: .05em;
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
    & + & {
        margin-top: 36px;
        @media screen and (max-width: 768px) {
            margin: 15px 0 0;
        }
    }
}