<h2 class="demo_title">ノーマル c-btnWrap _center</h2>
<div class="c-btnWrap _center">
<a class="c-btn" role="button">a btn</a>
<input type="submit" class="c-btn" value="input btn">
<button class="c-btn" type="submit" role="button">button btn</button>
</div>

<h2 class="demo_title">ノーマル c-btnWrap _right</h2>
<div class="c-btnWrap _right">
<a class="c-btn" role="button">a btn</a>
<input type="submit" class="c-btn" value="input btn">
<button class="c-btn" type="submit" role="button">button btn</button>
</div>

<h2 class="demo_title">ノーマル c-btnWrap _left</h2>
<div class="c-btnWrap _left">
<a class="c-btn" role="button">a btn</a>
<input type="submit" class="c-btn" value="input btn">
<button class="c-btn" type="submit" role="button">button btn</button>
</div>

<h2 class="demo_title">疑似要素:ボタンの左右</h2>
<div class="c-btnWrap _left">
<span class="c-btn _pseudo _left"><a href="">a btn</a></span>
<span class="c-btn _pseudo _right"><a href="">a btn</a></span>
<span class="c-btn _pseudo _left"><button type="submit" role="button">button btn</button></span>
<span class="c-btn _pseudo _right"><button type="submit" role="button">button btn</button></span>
</div>

<h2 class="demo_title">疑似要素:テキストの左右</h2>
<div class="c-btnWrap -left">
<span class="c-btn _pseudo_inline _left"><a href="">btn</a></span>
<span class="c-btn _pseudo_inline _right"><a href="">btn</a></span>
<span class="c-btn _pseudo_inline _left"><button type="submit" role="button">button btn</button></span>
<span class="c-btn _pseudo_inline _right"><button type="submit" role="button">button btn</button></span>
</div>

<h2 class="demo_title">With Font Awesome icons ボタンの左右</h2>
<div class="c-btnWrap _left">
<span class="c-btn _icon _left"><a href=""><i class="fas fa-angle-left"></i>btn</a></span>
<span class="c-btn _icon _right"><button role="button">btn<i class="fas fa-angle-right"></i></button></span>
</div>

<h2 class="demo_title">With Font Awesome icons テキストの左右</h2>
<div class="c-btnWrap _left">
<span class="c-btn _icon_inline _left"><a href=""><i class="fas fa-angle-left"></i>btn</a></span>
<span class="c-btn _icon_inline _right"><button role="button">btn<i class="fas fa-angle-right"></i></button></span>
</div>
