<h2 class="demo_title">ノーマル c-btnWrap -center</h2>
<div class="c-btnWrap -center">
<a class="c-btn" role="button">a btn</a>
<input type="submit" class="c-btn" value="input btn">
<button class="c-btn" type="submit" role="button">button btn</button>
</div>

<h2 class="demo_title">ノーマル c-btnWrap -right</h2>
<div class="c-btnWrap -right">
<a class="c-btn" role="button">a btn</a>
<input type="submit" class="c-btn" value="input btn">
<button class="c-btn" type="submit" role="button">button btn</button>
</div>

<h2 class="demo_title">ノーマル c-btnWrap -left</h2>
<div class="c-btnWrap -left">
<a class="c-btn" role="button">a btn</a>
<input type="submit" class="c-btn" value="input btn">
<button class="c-btn" type="submit" role="button">button btn</button>
</div>

<h2 class="demo_title">疑似要素:ボタンの左右</h2>
<div class="c-btnWrap -left">
<span class="c-btn -pseudo -left"><a href="">a btn</a></span>
<span class="c-btn -pseudo -right"><a href="">a btn</a></span>
<span class="c-btn -pseudo -left"><button type="submit" role="button">button btn</button></span>
<span class="c-btn -pseudo -right"><button type="submit" role="button">button btn</button></span>
</div>

<h2 class="demo_title">疑似要素:テキストの左右</h2>
<div class="c-btnWrap -left">
<span class="c-btn -pseudo_inline -left"><a href="">btn</a></span>
<span class="c-btn -pseudo_inline -right"><a href="">btn</a></span>
<span class="c-btn -pseudo_inline -left"><button type="submit" role="button">button btn</button></span>
<span class="c-btn -pseudo_inline -right"><button type="submit" role="button">button btn</button></span>
</div>

<h2 class="demo_title">With Font Awesome icons ボタンの左右</h2>
<div class="c-btnWrap -left">
<span class="c-btn -icon -left"><a href=""><i class="fas fa-angle-left"></i>btn</a></span>
<span class="c-btn -icon -right"><button role="button">btn<i class="fas fa-angle-right"></i></button></span>
</div>

<h2 class="demo_title">With Font Awesome icons テキストの左右</h2>
<div class="c-btnWrap -left">
<span class="c-btn -icon_inline -left"><a href=""><i class="fas fa-angle-left"></i>btn</a></span>
<span class="c-btn -icon_inline -right"><button role="button">btn<i class="fas fa-angle-right"></i></button></span>
</div>
