<section class="p-section">
<div class="c-btnWrap -center">
<a class="c-btn" role="button">btn</a>
<input type="submit" class="c-btn" value="btn">
<button class="c-btn" role="button">btn</button>
</div>
</section>