<h1 class="c-h1">h1 タイトルが入ります。h1 タイトルが入ります。h1 タイトルが入ります。</h1>
<h2 class="c-h2">h2 タイトルが入ります。h2 タイトルが入ります。h2 タイトルが入ります。h2 タイトルが入ります。h2 タイトルが入ります。</h2>
<h3 class="c-h3">h3 タイトルが入ります。h3 タイトルが入ります。h3 タイトルが入ります。h3 タイトルが入ります。h3 タイトルが入ります。</h3>
<h4 class="c-h4">h4 タイトルが入ります。h4 タイトルが入ります。h4 タイトルが入ります。h4 タイトルが入ります。h4 タイトルが入ります。</h4>
<h5 class="c-h5">h5 タイトルが入ります。h5 タイトルが入ります。h5 タイトルが入ります。h5 タイトルが入ります。h5 タイトルが入ります。</h5>
