<h2>ul</h2>

<ul class="c-blockName__list">
  <li class="c-blockName__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
  <li class="c-blockName__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
  <li class="c-blockName__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
</ul>

<h2>ol</h2>

<ol class="c-blockName__list">
  <li class="c-blockName__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
  <li class="c-blockName__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
  <li class="c-blockName__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
</ol>

<h2>dl</h2>

<dl class="c-blockName__dl">
<dt class="c-blockName__word">定義語</dt>
<dd class="c-blockName__description">定義語の説明</dd>
</dl>

<h2>入れ子のパターン</h2>

<ul class="c-blockName__list">
  <li class="c-blockName__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
  <ul class="c-blockName__listChild__list">
  <li class="c-blockName__listChild__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
  <li class="c-blockName__listChild__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
  <li class="c-blockName__listChild__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
</ul></li>
  <li class="c-ul__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
  <li class="c-ul__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
</ul>

