<h2>ul</h2>

<ul class="p-blockName__list c-ul">
<li class="p-blockName__item c-ul__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
<li class="p-blockName__item c-ul__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
<li class="p-blockName__item c-ul__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
</ul>

<h2>ol</h2>

<ol class="p-blockName__list c-ol">
<li class="p-blockName__item c-ol__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
<li class="p-blockName__item c-ol__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
<li class="p-blockName__item c-ol__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
</ol>

<h2>dl</h2>

<dl class="p-blockName__dl c-dl">
<dt class="p-blockName__dt c-dt">定義語</dt>
<dd class="p-blockName__dd c-dd">定義語の説明</dd>
</dl>

<h2>入れ子のパターン</h2>

<h3>ul入れ子</h3>

<ul class="c-ul__list">
<li class="c-ul__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
<ul class="c-ul__itemChildList">
<li class="c-ul__itemChildItem">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
<li class="c-ul__itemChildItem">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
<li class="c-ul__itemChildItem">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
</ul>
</li>
<li class="c-ul__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
<li class="c-ul__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
</ul>

<h3>ol入れ子</h3>

<ul class="c-ol__list">
<li class="c-ol__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
<ul class="c-ol__itemChildList">
<li class="c-ol__itemChildItem">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
<li class="c-ol__itemChildItem">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
<li class="c-ol__itemChildItem">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
</ul>
</li>
<li class="c-ol__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
<li class="c-ol__item">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</li>
</ul>

