<div class="c-sns">
  <ul class="c-sns__list">
    <li class="c-sns__item facebook">
      <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
    </li>
        <li class="c-sns__item line">
      <a href="" target="_blank"><i class="fab fa-line"></i></a>
    </li>
    <li class="c-sns__item twitter">
      <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="c-sns__item mail">
      <a href="" target="_blank"><i class="far fa-envelope"></i></a>
    </li>
    <li class="c-sns__item google">
      <a href="" target="_blank"><i class="fab fa-google-plus"></i></a>
    </li>
        <li class="c-sns__item pocket">
      <a href="" target="_blank"><i class="fab fa-pocket"></i></a>
    </li>
  </ul>
</div>
