<!-- c_kv START -->
<div class="c_kv">
<div class="c_kv__inner">
<h1 class="c_kv__title">
<span class="jp">日本語タイトル</span><span class="en">ENGLISH</span>
</h1>
<p class="c_kv__excerpt">説明テキストが入ります。説明テキストが入ります。</p>
</div>
<div class="c_kv__bg"><img src="http://placehold.it/1600x600" alt="" width="" height=""></div>
</div>
<!-- c_kv END -->