<table class="c_table">
  <thead>
  <tr>
    <th>タイトルが入ります</th>
    <th>タイトルが入ります</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>thの内容が入ります</th>
    <td>tdの内容が入ります</td>
  </tr>
  <tr>
    <th>thの内容が入ります</th>
    <td>tdの内容が入ります</td>
  </tr>
  </tbody>
</table>
