<div class="l-contents">
  <main class="l-main" role="main">
    <h1>page title</h1>
    <article class="l-article">
      l-article
      <!-- c-btn START -->
      @@include('c-btn.html')
      <!-- c-btn END -->
    </article>
  </main>
  <aside class="l-sub" role="complementary">
    <nav class="l-subSec">
      <h2 class="l-subSec__title">section title</h2>
      <ul class="l-subSec__list">
        <li class="l-subSec__item"><a href="">テキスト</a></li>
        <li class="l-subSec__item"><a href="">テキスト</a></li>
        <li class="l-subSec__item"><a href="">テキスト</a></li>
      </ul>
    </nav>
    <nav class="l-subSec">
      <h2 class="l-subSec__title">section title</h2>
      <ul class="l-subSec__list">
        <li class="l-subSec__item"><a href="">テキスト</a></li>
        <li class="l-subSec__item"><a href="">テキスト</a></li>
        <li class="l-subSec__item"><a href="">テキスト</a></li>
      </ul>
    </nav>
    <div class="l-subSec">
      <div class="l-subSec__contents">
        <div class="l-subSec__text">テキストが入ります。テキストが入ります。テキストが入ります。</div>
      </div>
    </div>
  </aside>
</div>