<aside class="l-footlink">
<div class="l-footlink__inner">
 <ul class="l-footlink__list">
   <li class="l-footlink__item"><a href="/temp_module.html">temp_module</a></li>
   <li class="l-footlink__item"><a href="/temp_base.html">temp_base</a></li>
   <li class="l-footlink__item"><a href="/page_normal.html">page_normal</a></li>
   <li class="l-footlink__item"><a href="/page_component.html">page_component</a></li>
 </ul>
</div>
</aside>
