<!-- l-footlink START -->
<%- include('_l-footlink') %>
<!-- l-footlink END -->

<!-- l-footer START -->
<footer class="l-footer" role="contentinfo">
<div class="l-pagetop"><a href="#pagetop"><span>このページの先頭へ</span></a></div>
<div class="l-footer__inner">
<small class="l-footer__copy">&copy; company name</small>
</div>
<nav class="l-footer__nav">
<ul class="l-footer__navList">
<li class="l-footer__navItem"><a href=""><span>リンク</span></a></li>
<li class="l-footer__navItem"><a href=""><span>リンク</span></a></li>
<li class="l-footer__navItem"><a href=""><span>リンク</span></a></li>
<li class="l-footer__navItem"><a href=""><span>リンク</span></a></li>
<li class="l-footer__navItem"><a href=""><span>リンク</span></a></li>
</ul>
</nav>
</footer>
<!-- l-footer END -->
