<!-- l-footlink START -->
<nav class="l-footlink">
<div class="l-footlink__inner">
<ul class="l-footlink__list">
<li class="l-footlink__item"><a href="">menu</a></li>
<li class="l-footlink__item"><a href="">menu</a></li>
<li class="l-footlink__item"><a href="">menu</a></li>
<li class="l-footlink__item"><a href="">menu</a></li>
<li class="l-footlink__item"><a href="">menu</a></li>
</ul>
</div>
</nav>
<!-- l-footlink END -->
