<!-- l-gnav START -->
<nav class="l-gnav" role="navigation">
<ul class="l-gnav__list">
<li class="l-gnav__item -cat1"><a href="index.html">Project</a></li>
<li class="l-gnav__item -cat2"><a href="p-single.html">Component</a></li>
<li class="l-gnav__item -cat3"><a href="p-form.html">Form</a></li>
</ul>
</nav>
<!-- l-gnav END -->