<!-- l-gnav START -->
<nav class="l-gnav" role="navigation">
<ul class="l-gnav__list">
<li class="l-gnav__item -cat1"><a href="index.html">p-index</a></li>
<li class="l-gnav__item -cat2"><a href="p-single.html">p-single</a></li>
<li class="l-gnav__item -cat3"><a href="p-form.html">p-form</a></li>
<li class="l-gnav__item -cat4"><a href="p-privacy.html">p-privacy</a></li>
<li class="l-gnav__item -cat5"><a href="p-notfound.html">p-notfound</a></li>
</ul>
</nav>
<!-- l-gnav END -->