<!-- l-header START -->
<header class="l-header _close">
<div class="l-header__inner">
<div class="l-header_siteLogo"><a href="/">HTML TEMP</a></div>
<div class="l-header__siteText">効率的に作るためのテンプレート</div>
<div class="c-hamburger hamburger hamburger--squeeze js-hamburger">
<button class="hamburger" type="button">
<span class="hamburger-box">
<span class="hamburger-inner"></span>
</span>
</button>
</div>
</div>
<%- include('_l-gnav') %>
</header>
<!-- l-header END -->
