<!-- l-sub START -->
<aside class="l-sub" role="complementary">

<section class="l-sub__section">
<h2 class="l-sub__sectionTitle">section title</h2>
<div class="l-sub__sectionBody">
  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
</section>

<section class="l-sub__section">
<h2 class="l-sub__sectionTitle">section title</h2>
<nav class="l-sub__nav">
<ul class="l-sub__list">
<li class="l-sub__item"><a href="">テキスト</a></li>
<li class="l-sub__item"><a href="">テキスト</a></li>
<li class="l-sub__item"><a href="">テキスト</a></li>
</ul>
</nav>
</section>

<section class="l-sub__section">
<h2 class="l-sub__sectionTitle">section title</h2>
<nav class="l-sub__nav">
<ul class="l-sub__list">
<li class="l-sub__item"><a href="">テキスト</a></li>
<li class="l-sub__item"><a href="">テキスト</a></li>
<li class="l-sub__item"><a href="">テキスト</a></li>
</ul>
</nav>
</section>

</aside>
<!-- l-sub END -->