<% if (typeof breadcrumb === 'undefined') {breadcrumb = [{name: 'Home',url: '/'},{name: 'Category',url: '#'},{name: 'Current Page'}]} %>
<% /*
include('./_include/_l_breadcrumb', {
breadcrumb: [
{
name: 'Home',
url: '/'
},
{
name: 'Category',
url: '#'
},
{
name: 'Current Page'
}
]
})
*/ %>
<div class="l_breadcrumb" aria-label="現在のページ">
<div class="l_breadcrumb__inner">
<ul class="l_breadcrumb__list">
<% breadcrumb.forEach(function(item, i) { %>
<% if(i != breadcrumb.length - 1) { %>
<li class="l_breadcrumb__item"><a href="<%= item.url %>"><%= item.name %></a></li>
<% } else { %>
<li class="l_breadcrumb__item _current" aria-current="page"><strong><%= item.name %></strong></li>
<% } %>
<% }) %>
</ul>
</div>
</div>
