<%- include('_l_footlink') %>
<!-- l_footer START -->
<footer class="l_footer">
<div class="l_footer__inner">
    <nav class="l_footer__nav">
        <div class="l_footer__navColumn">
        <h2 class="l_footer__navTitle">カテゴリ名</h2>
        <ul class="l_footer__navList">
            <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
            <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
            <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
            <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
            <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
        </ul>
        </div>
        <div class="l_footer__navColumn">
            <h2 class="l_footer__navTitle">カテゴリ名</h2>
            <ul class="l_footer__navList">
                <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
                <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
                <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
                <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
                <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
            </ul>
        </div>
        <div class="l_footer__navColumn">
            <h2 class="l_footer__navTitle">カテゴリ名</h2>
            <ul class="l_footer__navList">
                <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
                <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
                <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
                <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
                <li class="l_footer__navItem"><a href="">ページタイトル</a></li>
            </ul>
        </div>
    </nav>
<small class="l_footer__copy">&copy; company name</small>
</div>
</footer>
<!-- l_footer END -->
