<%- include('_l_footlink') %>
<!-- l_footer START -->
<footer class="l_footer">
<div class="l_pagetop"><a href="#pagetop"><span>このページの先頭へ</span></a></div>
<div class="l_footer__inner">
<small class="l_footer__copy">&copy; company name</small>
</div>
</footer>
<!-- l_footer END -->
