<!-- l-footlink START -->
<nav class="l_footlink">
<div class="l_footlink__inner">
<ul class="l_footlink__list">
<li class="l_footlink__item"><a href="">menu</a></li>
<li class="l_footlink__item"><a href="">menu</a></li>
<li class="l_footlink__item"><a href="">menu</a></li>
<li class="l_footlink__item"><a href="">menu</a></li>
<li class="l_footlink__item"><a href="">menu</a></li>
</ul>
</div>
</nav>
<!-- l-footlink END -->
