<!-- l_gnav START -->
<nav class="l_gnav">
<div class="l_gnav__inner">
<ul class="l_gnav__list">
<li class="l_gnav__item -cat1"><a href="">MENU</a></li>
<li class="l_gnav__item -cat2"><a href="">MENU</a></li>
<li class="l_gnav__item -cat3"><a href="">MENU</a></li>
<li class="l_gnav__item -cat4"><a href="">MENU</a></li>
<li class="l_gnav__item -cat5"><a href="">MENU</a></li>
</ul>
</div>
</nav>
<!-- l_gnav END -->
