<!-- l_header START -->
<header class="l_header _close">
<div class="l_header__inner">
<div class="l_header_site">
<div class="l_header_siteLogo"><a href="/">HTML TEMP</a></div>
<div class="l_header__siteText">効率的に作るためのテンプレート</div>
</div>
</div>
<%- include('_l_gnav') %>
</header>
<!-- l_header END -->
