<!-- l_sub START -->
<aside class="l_sub" role="complementary">
<section class="l_sub__section">
<h2 class="l_sub__sectionTitle">section title</h2>
<div class="l_sub__sectionBody">
<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>
</section>
<section class="l_sub__section">
<h2 class="l_sub__sectionTitle">section title</h2>
<nav class="l_sub__nav">
<ul class="l_sub__list">
<li class="l_sub__item"><a href="">テキスト</a></li>
<li class="l_sub__item"><a href="">テキスト</a></li>
<li class="l_sub__item"><a href="">テキスト</a></li>
</ul>
</nav>
</section>
<section class="l_sub__section">
<h2 class="l_sub__sectionTitle">section title</h2>
<nav class="l_sub__nav">
<ul class="l_sub__list">
<li class="l_sub__item"><a href="">テキスト</a></li>
<li class="l_sub__item"><a href="">テキスト</a></li>
<li class="l_sub__item"><a href="">テキスト</a></li>
</ul>
</nav>
</section>
</aside>
<!-- l_sub END -->
