<section class="p-card">
<ul class="p-card__inner">
<article class="p-card__item column">
<a href="" class="p-card__link">
<figure class="p-card__thumb"><img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=ccc&txtclr=333&txt=img&w=340&h=226" alt=""></figure>
<div class="p-card__body">
<div class="p-card__meta">
<div class="p-card__cat"><object><a href="">カテゴリ名</a></object></div>
<time class="p-card__date">2000/00/00</time>
</div>
<h2 class="p-card__title">タイトルが入ります</h2>
</div>
</a>
</li>
<li class="p-card__item column">
<a href="" class="p-card__link">
<figure class="p-card__thumb"><img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=ccc&txtclr=333&txt=img&w=340&h=226" alt=""></figure>
<div class="p-card__body">
<div class="p-card__meta">
<div class="p-card__cat"><object><a href="">カテゴリ名</a></object></div>
<time class="p-card__date">2000/00/00</time>
</div>
<h2 class="p-card__title">タイトルが入ります</h2>
</div>
</a>
</li>
</ul>
</section>