 <div class="p-kv">
  <div class="p-kv__inner">
    <h1 class="p-kv__title">
      <span class="jp">日本語タイトル</span><span class="en">ENGLISH</span>
    </h1>
    <p class="p-kv__excerpt">説明テキストが入ります。説明テキストが入ります。</p>
  </div>
  <div class="p-kv__bg"><img src="https://dummyimage.com/1600x600/cccccc/686a82.gif" alt=""></div>
</div>