<!-- p-notfound START -->
<div class="p-notfound">
<div class="p-notfound__inner">
<div class="p-notfound__title">お探しのページは見つかりません。</div>
<div class="p-notfound__text">Page Not Found.</div>
</div>
<div class="p-notfound__lead">お探しのページは見つかりません。<br> 一時的にアクセスできない状態か、
<br> 移動もしくは、削除されてしまった可能性があります。
</div>
<div class="p-notfound__more">
<a href="">トップページへ</a>
</div>
</div>
<!-- p-notfound END -->