 <nav class="p-pagination">
  <ul class="p-pagination__list">
    <li class="p-pagination__prev">
      <a href="#">
        <span class="p-pagination__icon" aria-hidden="true">&laquo;</span>
        <span class="p-pagination__text first">first page</span>
        <span class="p-pagination__text prev">Prev page</span>
      </a>
    </li>
    <li class="p-pagination__item is-current"><a href="#">1</a></li>
    <li class="p-pagination__item"><a href="#">2</a></li>
    <li class="p-pagination__item"><a href="#">3</a></li>
    <li class="p-pagination__item"><a href="#">4</a></li>
    <li class="p-pagination__item"><a href="#">5</a></li>
    <li class="p-pagination__next">
      <a href="#">
        <span class="p-pagination__icon" aria-hidden="true">&raquo;</span>
        <span class="p-pagination__text next">Next page</span>
        <span class="p-pagination__text last">last page</span>
      </a>
    </li>
  </ul>
</nav>