<!-- p-section START -->
<section class="p-section">
<h2 class="p-section__title">section title</h2>
<div class="p-section__inner">
<div class="p-section__text">
<p>dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.</p>
<p>dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.</p>
</div>
</div>
</section>
<section class="p-section">
<h2 class="p-section__title">section title</h2>
<div class="p-section__text">
<p>dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.</p>
<p>dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.</p>
</div>
<div class="p-section__note">
<h3 class="p-section__noteTitle">section note</h3>
<div class="p-section__noteText">
<p>dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.</p>
<p>dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.dummy text.</p>
</div>
</div>
</section>
<!-- p-section END -->