<!-- l-breadcrumb START -->
<nav class="l-breadcrumb" aria-label="現在のページ">
<ul class="l-breadcrumb__list">
<li class="l-breadcrumb__item"><a href="/">Home</a></li>
<li class="l-breadcrumb__item"><a href="#">Category</a></li>
<li class="l-breadcrumb__item" aria-current="page"><strong>Current Page</strong></li>
</ul>
</nav>
<!-- l-breadcrumb END -->
