<h2 class="temp-h2">c-breadcrumbs</h2>
<p class="temp-url"><a href="http://foundation.zurb.com/sites/docs/breadcrumbs.html">http://foundation.zurb.com/sites/docs/breadcrumbs.html</a></p>

<nav class="c-breadcrumbs" aria-label="You are here:" role="navigation">
  <ul class="c-breadcrumbs__list">
    <li><a href="#">Home</a></li>
    <li><a href="#">Features</a></li>
    <li class="disabled">Gene Splicing</li>
    <li>
      <strong class="current">Current:Cloning</strong>
    </li>
  </ul>
</nav>