<h3 class="temp-h3">c-btn</h3>
<p class="temp-url">https://developers.facebook.com/docs/plugins/page-plugin</p>

<h4 class="temp-h4">Sizing</h4>

<a class="button tiny" href="#">So Tiny</a>
<a class="button small" href="#">So Small</a>
<a class="button" href="#">So Basic</a>
<a class="button large" href="#">So Large</a>
<a class="button expanded" href="#">Such Expand</a>
<a class="button small expanded" href="#">Wow, Small Expand</a>


<h4 class="temp-h4">Coloring</h4>

<a class="button primary" href="#">Primary</a>
<a class="button secondary" href="#">Secondary</a>
<a class="button success" href="#">Success</a>
<a class="button alert" href="#">Alert</a>
<a class="button warning" href="#">Warning</a>
