<h2 class="temp-h2">c-card</h2>

<section class="c-card">
  <ul class="c-card__list">
    <li class="c-card__item">
      <a href="" class="c-card__link">
        <figure class="c-card__thumb"><img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=ccc&txtclr=333&txt=img&w=340&h=226" alt=""></figure>
        <div class="c-card__cat"><object><a href="">カテゴリ名</a></object></div>
        <time class="c-card__date">2000/00/00</time>
        <h2 class="c-card__title">タイトルが入ります</h2>
      </a>
      <p class="c-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    </li>
  </ul>
</section>