<h3 class="temp-h3">c-card</h3>
<p class="temp-url"></p>

<section class="c-card">
<ul class="c-card__list">
  <li class="c-card__item">
    <a href="./C01_solution_design.html" class="c-card__link">
      <div class="c-card__thumb"><img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=ccc&txtclr=333&txt=img&w=340&h=226" alt=""></div>
      <div class="c-card__caption">
        <span class="textEN">CATEGORY</span>タイトルが入ります</div>
    </a>
    <p class="c-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <div class="c-moreLink textEN arrowRight">
      <a href="./C01_solution_design.html">VIEW DETAIL</a>
    </div>
  </li>
  <li class="c-card__item">
    <a href="./C02_solution_furniture.html" class="c-card__link">
      <div class="c-card__thumb"><img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=ccc&txtclr=333&txt=img&w=340&h=226" alt=""></div>
      <div class="c-card__caption">
        <span class="textEN">CATEGORY</span>タイトルが入ります</div>
    </a>
    <p class="c-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <div class="c-moreLink textEN arrowRight">
      <a href="./C02_solution_furniture.html">VIEW DETAIL</a>
    </div>
  </li>
  <li class="c-card__item">
    <a href="./C03_solution_consulting.html" class="c-card__link">
      <div class="c-card__thumb"><img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=ccc&txtclr=333&txt=img&w=340&h=226" alt=""></div>
      <div class="c-card__caption">
        <span class="textEN">CATEGORY</span>タイトルが入ります</div>
    </a>
    <p class="c-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <div class="c-moreLink textEN arrowRight">
      <a href="./C03_solution_consulting.html">VIEW DETAIL</a>
    </div>
  </li>
  <li class="c-card__item">
    <a href="./C04_solution_apparel.html" class="c-card__link">
      <div class="c-card__thumb"><img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=ccc&txtclr=333&txt=img&w=340&h=226" alt=""></div>
      <div class="c-card__caption">
        <span class="textEN">CATEGORY</span>タイトルが入ります</div>
    </a>
    <p class="c-card__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <div class="c-moreLink textEN arrowRight">
      <a href="./C04_solution_apparel.html">VIEW DETAIL</a>
    </div>
  </li>
 </ul>
</section>