<h3 class="temp-h3">c-hero</h3>

<div class="c-hero">
  <div class="c-hero__inner">
    <ul class="c-hero__list">
      <li class="c-hero__item">
        <img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=ccc&txtclr=333&txt=img&w=1432&h=866" class="c-hero__slideImage pc">
      </li>
      <li class="c-hero__item">
        <img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=ccc&txtclr=333&txt=img&w=1432&h=866" class="c-hero__slideImage pc">
      </li>
      <li class="c-hero__item">
        <img src="https://placeholdit.imgix.net/~text?txtsize=50&bg=ccc&txtclr=333&txt=img&w=1432&h=866" class="c-hero__slideImage pc">
      </li>
    </ul>
  </div>
  <div class="c-hero__dots">
    <ul class="c-hero__dotsList">
      <li class="c-hero__dotsItem"><a href=""></a></li>
      <li class="c-hero__dotsItem"><a href=""></a></li>
      <li class="c-hero__dotsItem"><a href=""></a></li>
      <li class="c-hero__dotsItem"><a href=""></a></li>
      <li class="c-hero__dotsItem"><a href=""></a></li>
    </ul>
  </div>
</div>