<h3 class="temp-h3">c-map</h3>

<div class="c-map">
  <div class="c-map__panels">
    <div class="c-map__panel">
      <dl class="c-map__detail">
        <dt class="c-map__title">タイトルが入ります。</dt>
        <dd class="c-map__address">テキストが入ります。</dd>
      </dl>
      <div id="map1" class="js-googleMap" data-lat="35.6574222" data-lng="139.7817535" data-zoom="15"></div>
      <a href="https://goo.gl/maps/yH4ksw6XNJJ2" class="c-map__link" target="_blank">GOOGLE MAP<i class="fa fa-window-restore" aria-hidden="true"></i></a>
    </div>

    <div class="c-map__panel">
      <dl class="c-map__detail">
        <dt class="c-map__title">タイトルが入ります。</dt>
        <dd class="c-map__address">テキストが入ります。</dd>
      </dl>
      <div id="map2" class="js-googleMap" data-lat="35.6668687" data-lng="139.7134413" data-zoom="16"></div>
      <a href="https://goo.gl/maps/z3JsaJKJUSP2" class="c-map__link" target="_blank">GOOGLE MAP<i class="fa fa-window-restore" aria-hidden="true"></i></a>
    </div>

    <div class="c-map__panel">
      <dl class="c-map__detail">
        <dt class="c-map__title">タイトルが入ります。</dt>
        <dd class="c-map__address">テキストが入ります。</dd>
      </dl>
      <div id="map3" class="js-googleMap" data-lat="34.6668987" data-lng="135.2135509" data-zoom="15"></div>
      <a href="https://goo.gl/maps/3cNeZd6afLG2" class="c-map__link" target="_blank">GOOGLE MAP<i class="fa fa-window-restore" aria-hidden="true"></i></a>
    </div>
  </div>
</div>