<h3 class="temp-h3">c-newslist</h3>
<p class="temp-url"><a href="https://v4-alpha.getbootstrap.com/layout/media-object/">https://v4-alpha.getbootstrap.com/layout/media-object/</a></p>

<section class="c-newslist">
  <ul class="c-newslist__list">
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="https://placeholdit.imgix.net/~text?txtsize=36&bg=ccc&txtclr=333&txt=img&w=144&h=144" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>

          <p class="c-newslist__text">テスト</p>
        </div>
      </a>
    </li>
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="https://placeholdit.imgix.net/~text?txtsize=36&bg=ccc&txtclr=333&txt=img&w=144&h=144" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>

          <p class="c-newslist__text">テスト</p>
        </div>
      </a>
    </li>
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="https://placeholdit.imgix.net/~text?txtsize=36&bg=ccc&txtclr=333&txt=img&w=144&h=144" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>

          <p class="c-newslist__text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーオ市、郊外のぎらぎら...</p>
        </div>
      </a>
    </li>
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="https://placeholdit.imgix.net/~text?txtsize=36&bg=ccc&txtclr=333&txt=img&w=144&h=144" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>
          <p class="c-newslist__text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーオ市、郊外のぎらぎら...</p>
        </div>
      </a>
    </li>
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="https://placeholdit.imgix.net/~text?txtsize=36&bg=ccc&txtclr=333&txt=img&w=144&h=144" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>
          <p class="c-newslist__text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーオ市、郊外のぎらぎら...</p>
        </div>
      </a>
    </li>
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="https://placeholdit.imgix.net/~text?txtsize=36&bg=ccc&txtclr=333&txt=img&w=144&h=144" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>
          <p class="c-newslist__text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーオ市、郊外のぎらぎら...</p>
        </div>
      </a>
    </li>
  </ul>
  <div class="c-backLink"><a href="">VIEW MORE</a></div>
</section>