<h2>c-newslist</h2>
<a href="https://v4-alpha.getbootstrap.com/content/tables/">https://v4-alpha.getbootstrap.com/content/tables/</a>

<section class="c-newslist">
  <ul class="c-newslist__list">
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="/img/dummy/index/news_img01.jpg" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>

          <p class="c-newslist__text">テスト</p>
        </div>
      </a>
    </li>
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="/img/dummy/index/news_img01.jpg" alt="" data-pin-nopin="true"></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>

          <p class="c-newslist__text">テスト</p>
        </div>
      </a>
    </li>
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="/img/dummy/index/news_img02.jpg" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>

          <p class="c-newslist__text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーオ市、郊外のぎらぎら...</p>
        </div>
      </a>
    </li>
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="/img/dummy/index/news_img02.jpg" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>
          <p class="c-newslist__text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーオ市、郊外のぎらぎら...</p>
        </div>
      </a>
    </li>
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="/img/dummy/index/news_img03.jpg" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>
          <p class="c-newslist__text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーオ市、郊外のぎらぎら...</p>
        </div>
      </a>
    </li>
    <li class="c-newslist__item">
      <a href="">
        <div class="c-newslist__thumb"><span><img src="/img/dummy/index/news_img_dummy.png" alt=""></span></div>
        <div class="c-newslist__body">
          <div class="c-newslist__meta"><span class="c-newslist__date">2017.4.1</span><span class="c-newslist__cat">PRESS RELEASE</span></div>
          <p class="c-newslist__text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーオ市、郊外のぎらぎら...</p>
        </div>
      </a>
    </li>
  </ul>
  <div class="Section__more"><a href="">VIEW MORE</a></div>
</section>