<h3 class="temp-h3">c-pagination</h3>
<p class="temp-url"><a href="https://v4-alpha.getbootstrap.com/components/pagination/">https://v4-alpha.getbootstrap.com/components/pagination/</a>
</p>

<nav class="c-pagination">
  <ul class="c-pagination__list">
    <li class="c-pagination__prev">
      <a href="#">
        <span class="c-pagination__icon" aria-hidden="true">&laquo;</span>
        <span class="c-pagination__text first">first page</span>
        <span class="c-pagination__text prev">Prev page</span>
      </a>
    </li>
    <li class="c-pagination__item is-current"><a href="#">1</a></li>
    <li class="c-pagination__item"><a href="#">2</a></li>
    <li class="c-pagination__item"><a href="#">3</a></li>
    <li class="c-pagination__item"><a href="#">4</a></li>
    <li class="c-pagination__item"><a href="#">5</a></li>
    <li class="c-pagination__next">
      <a href="#">
        <span class="c-pagination__icon" aria-hidden="true">&raquo;</span>
        <span class="c-pagination__text next">Next page</span>
        <span class="c-pagination__text last">last page</span>
      </a>
    </li>
  </ul>
</nav>