<h2>ページング</h2>

<nav class="c-paging">
  <ul class="c-paging__list">
    <li class="c-paging__prev">
      <a href="#">
        <span class="c-paging__icon" aria-hidden="true">&laquo;</span>
        <span class="c-paging__text">Previous page</span>
      </a>
    </li>
    <li class="c-paging__item is-current"><a href="#">1</a></li>
    <li class="c-paging__item"><a href="#">2</a></li>
    <li class="c-paging__item"><a href="#">3</a></li>
    <li class="c-paging__item"><a href="#">4</a></li>
    <li class="c-paging__item"><a href="#">5</a></li>
    <li class="c-paging__next">
      <a href="#">
        <span class="c-paging__icon" aria-hidden="true">&raquo;</span>
        <span class="c-paging__text">Next page</span>
      </a>
    </li>
  </ul>
</nav>