<!--include START-->
<h3 class="temp-h3">c-share</h3>
<p class="temp-url"></p>

<div class="c-share">
  <ul class="c-share__list">
    <li class="c-share__item facebook">
      <a target="_blank" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
        <li class="c-share__item line">
      <a target="_blank" href=""><img src="svg/common/ico-line_off.svg" width="22" height="21" alt="LINE"></a>
    </li>
    <li class="c-share__item twitter">
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li class="c-share__item add">
      <a target="_blank" href=""><img src="svg/common/ico-add_off.svg" width="18" height="22" alt="お気に入りに追加"></a>
    </li>
  </ul>
</div>
<!--include END-->
