<!--include START-->
<h3 class="temp-h3">c-sns オリジナル</h3>

<div class="c-sns">
  <ul class="c-sns__list">
    <li class="c-sns__item facebook">
      <a target="_blank" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
        <li class="c-sns__item line">
      <a target="_blank" href=""><span class="icon-line"></span></a>
    </li>
    <li class="c-sns__item twitter">
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li class="c-sns__item mail">
      <a target="_blank" href="">mail</a>
    </li>
    <li class="c-sns__item google">
      <a target="_blank" href=""><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>

<h3 class="temp-h3">c-sns デフォルト</h3>

<p class=""><a href="https://media.line.me/ja/how_to_install#lineitbutton">https://media.line.me/ja/how_to_install#lineitbutton</a></p>

<!--表示位置-->
<div class="line-it-button" data-lang="ja" data-type="share-a" data-url="http://★URL★" style="display: none;"></div>
 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
 
 <p class=""><a href="https://about.twitter.com/ja/resources/buttons">https://about.twitter.com/ja/resources/buttons</a></p>

<!--表示位置-->
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

 <p class=""><a href="https://developers.facebook.com/docs/plugins/like-button?locale=ja_JP">https://developers.facebook.com/docs/plugins/like-button?locale=ja_JP</a></p>

<!--body開始直後-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.9&appId=1437800856464161";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--表示位置-->
<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>

<p class=""><a href="http://b.hatena.ne.jp/guide/bbutton">http://b.hatena.ne.jp/guide/bbutton</a></p>

<a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

<p class=""><a href="https://developers.google.com/+/web/+1button/?hl=ja#top_of_page">https://developers.google.com/+/web/+1button/?hl=ja#top_of_page</a></p>

<!--body終了の前-->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'ja'}
</script>

<!--表示位置-->
<div class="g-plusone" data-size="medium" data-annotation="none"></div>

<h3>icon moon</h3>
<span class="icon-brand"></span>
<span class="icon-brand2"></span>
<span class="icon-brand3"></span>
<span class="icon-brand4"></span>
<span class="icon-brand5"></span>
<span class="icon-brand6"></span>
<span class="icon-brand7"></span>
<span class="icon-brand8"></span>
<span class="icon-brand9"></span>
<span class="icon-brand10"></span>
<span class="icon-brand11"></span>
<span class="icon-brand12"></span>

<h3>FLAT使用サービス</h3>

<i class="fa fa-github-square" aria-hidden="true"></i>
GitHub
<i class="fa fa-diamond" aria-hidden="true"></i>
Sketch
<i class="fa fa-slack" aria-hidden="true"></i>
Slack
Gulp
Facebook
Skype
Google APP
Photoshop
Adobe XD
Illustrator
GenyMotion
SourceTree
Brackets
Atom
Sass
CSS3
HTML5
Jade
GitHub
ChatWork
Backlog

<!--include END-->
