<h2>
  フォーム</h2>
<form class="c-form">

  <section class="c-form__lead">
    <p class="c-form__leadText">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

  </section>
  <div class="c-form__errorWrap is-error">
       <p class="c-form__errorWrap__title">エラーの箇所がありますので、お手数ですがご確認お願いします。</p>
    <ul class="c-form__errorWrap__list">
      <li class="c-form__errorWrap__item">・項目1をご確認ください。</li>
      <li class="c-form__errorWrap__item">・項目2をご確認ください。</li>
      <li class="c-form__errorWrap__item">・項目3をご確認ください。</li>
    </ul>
  </div>
  <h3>input Text</h3>
  <div class="c-form__group">
    <dl class="c-form__column">
      <dt class="c-form__columnTitle"><label for="hoge_inputText" class="c-form__label">dummy title<span class="c-form__must">必須</span></label></dt>
      <dd class="c-form__columnBody"><input type="text" id="hoge_inputText" class="c-form__inputText" placeholder="Text input"></dd>
    </dl>
  </div>

  <h3>Text Areas</h3>
  <div class="c-form__group">
    <dl class="c-form__column">
      <dt class="c-form__columnTitle"> <label for="hoge_textarea" class="c-form__label">dummy title<span class="c-form__must">必須</span></label></dt>
      <dd class="c-form__columnBody"> <textarea id="hoge_textArea" class="c-form__textArea" placeholder="None"></textarea></dd>
    </dl>
  </div>

  <h3>Select Menus</h3>
  <div class="c-form__group">
    <dl class="c-form__column">
      <dt class="c-form__columnTitle"><label for="hoge_select" class="c-form__label">dummy title<span class="c-form__must">必須</span></label></dt>
      <dd class="c-form__columnBody">
        <div class="c-form__select">
          <select id="hoge_select">
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </div>
      </dd>
    </dl>
  </div>

  <h3>Checkboxes and radios</h3>

  <div class="c-form__group">
    <fieldset class="large-6 columns">
      <legend>Choose Your Favorite</legend>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed" required>
      <label for="pokemonRed" class="c-form__labelRadio">Red</label>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
      <label for="pokemonBlue" class="c-form__labelRadio">Blue</label>
      <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow">
      <label for="pokemonYellow" class="c-form__labelRadio">Yellow</label>
    </fieldset>
  </div>

  <div class="c-form__group">
    <fieldset class="large-6 columns">
      <legend>Check these out</legend>
      <input id="checkbox1" type="checkbox"><label for="checkbox1" class="c-form__labelCheck">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2" class="c-form__labelCheck">Checkbox 2</label>
      <input id="checkbox3" type="checkbox"><label for="checkbox3" class="c-form__labelCheck">Checkbox 3</label>
    </fieldset>
  </div>

<div class="c-form__privacy">
 <div class="c-form__privacyInner"> プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。 プライバシーポリシーが入ります。</div>
 
</div>

  <div class="c-form__btnWrap">
    <button type="button" class="c-btn btn-primary btn-lg">Large button</button>
    <button type="button" class="c-btn btn-default btn-lg">Large button</button>
  </div>

</form>