<h3 class="temp-h3">c-widget Facebook</h3>
<p class="temp-url"><a href="https://developers.facebook.com/docs/plugins/page-plugin">https://developers.facebook.com/docs/plugins/page-plugin</a></p>

<!--body開始直後-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.9&appId=1437800856464161";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--表示位置-->
<div class="c-widget facebook">
<div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
</div>

<h3 class="temp-h3">c-widget Twitter</h3>
<p class="temp-url"><a href="https://dev.twitter.com/web/overview">https://dev.twitter.com/web/overview</a></p>
<p class="temp-url">
  <a href="https://twitter.com/settings/widgets">https://twitter.com/settings/widgets</a></p>

<div class="c-widget twitter">
  <a class="twitter-timeline" href="https://twitter.com/TwitterDev">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<h3 class="temp-h3">c-widget Instagram</h3>
<p class="temp-url"><a href="https://snapwidget.com/#widgets">https://snapwidget.com/#widgets</a></p>

