<!--include START-->
<footer class="l-footer">
  <div class="l-pagetop"><a href="#page"><span>このページの先頭へ</span></a></div>
  <div class="l-footer__inner">
    <div class="l-footer__site">
      <div class="l-footer__logo">
        <a href="http://corp.world.co.jp/" target="_blank"><img src="https://placeholdit.imgix.net/~text?txtsize=14&bg=eee&txtclr=333&txt=sitelogo&w=120&h=40" alt=""></a>
      </div>
    </div>
    <small class="l-footer__copy">© WORLD SPACE SOLUTIONS</small>
    <nav class="l-footer__nav">
      <ul class="l-footer__navList">
        <li class="l-footer__navItem"><a href="./H01_sitepolicy.html"><span>サイトポリシー</span></a></li>
        <li class="l-footer__navItem"><a href="./H02_privacypolicy.html"><span>プライバシーポリシー</span></a></li>
      </ul>
    </nav>
  </div>
</footer>
<!--include END-->