<!--include START-->
<header class="l-header is-close">
  <div class="l-header__inner">
    <div class="l-header__sp">
      <h1 class="l-header__logo">
        <a href="./A00_index.html"><img src="https://placeholdit.imgix.net/~text?txtsize=22&bg=eee&txtclr=333&txt=sitelogo&w=144&h=48" width="" height="64" alt="WORLD PLATFORM SERVICE" data-pin-nopin="true"></a>
      </h1>
      <div class="l-header__btn"><a href=""><span>OPEN</span></a></div>
    </div>
    <nav class="l-header__nav">
      <ul class="l-header__navList">
        <li class="l-header__navItem MENU1"><a href=""><span>MENU1</span></a></li>
        
      </ul>
      <div class="l-header__close"><a href=""><span>CLOSE</span></a></div>
    </nav>
  </div>
</header>
<!--include END-->