<!--include START-->
<nav class="l-sub">
  <ul class="">
   <li><a href="">Navbar</a></li>
   <li><a href="">Breadcrumbs</a></li>
    <li><a href="">Table</a></li>
    <li><a href="">Form</a></li>
    <li><a href="">Pagination</a></li>
    <li><a href="">Card</a></li>
    <li><a href="">font icon</a></li>
 
    


    これから
    <li><a href="">Typography bootstrap</a></li>
    https://v4-alpha.getbootstrap.com/content/typography/

    <li><a href="">Button Foundation</a></li>
    http://foundation.zurb.com/sites/docs/button.html

    

    <li><a href="">Media object bootstrap</a></li>
    https://v4-alpha.getbootstrap.com/layout/media-object/

    <li><a href="">List group bootstrap</a></li>
    https://v4-alpha.getbootstrap.com/components/list-group/ CSS
    <li><a href="">Media Queries</a></li>
    https://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints http://foundation.zurb.com/sites/docs/media-queries.html

    <li><a href="">Flexbox</a></li>
    <li><a href="">Helper classes</a></li>
    JavaScript
    <li><a href="">Sticky</a></li>
    <li><a href="">Modal</a></li>
    <li><a href="">Tabs</a></li>
  </ul>
</nav>
<!--include END-->