@charset "UTF-8";
/* ==========================================================================
   Foundation
   ========================================================================== */
/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}

@include onlyTB($only-point-tb) {}
@include onlyPC($only-point-pc) {}
*/
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.c-backLink {
  margin: 0 auto;
  font-size: 16px;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center; }
  .wf-loading .c-backLink {
    visibility: hidden; }
  .wf-active .c-backLink {
    visibility: visible; }
  .c-backLink a {
    padding: 0 0 0 15px;
    position: relative;
    display: inline-block; }
    .c-backLink a:before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 50%;
      width: 7px;
      height: 7px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
              transform: rotate(225deg);
      margin: -3px 0 0; }
    .c-backLink a:hover {
      color: #a6a6a6; }
      .c-backLink a:hover:before {
        border-top: 1px solid #a6a6a6;
        border-right: 1px solid #a6a6a6; }
  .c-backLink.arrowRight a {
    padding: 0 15px 0 0; }
    .c-backLink.arrowRight a:before {
      right: 0;
      left: inherit;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .c-backLink.textJP {
    letter-spacing: 0.12em; }
    @media screen and (max-width: 767px) {
      .c-backLink.textJP {
        font-size: 12px; } }
    @media print, screen and (min-width: 980px) {
      .c-backLink.textJP {
        font-size: 14px; } }
  .c-backLink.textEN {
    letter-spacing: 0.04em; }
    @media screen and (max-width: 767px) {
      .c-backLink.textEN {
        font-size: 13px; } }
    @media print, screen and (min-width: 980px) {
      .c-backLink.textEN {
        font-size: 16px; } }

.c-moreLink a {
  padding: 0 0 0 15px;
  position: relative;
  display: inline-block; }
  .c-moreLink a:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    width: 7px;
    height: 7px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
    margin: -4px 0 0; }
  .c-moreLink a:hover {
    color: #a6a6a6; }
    .c-moreLink a:hover:before {
      border-top: 1px solid #a6a6a6;
      border-right: 1px solid #a6a6a6; }

.c-moreLink.arrowRight a {
  padding: 0 15px 0 0; }
  .c-moreLink.arrowRight a::before {
    right: 0;
    left: inherit;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.c-moreLink.textJP {
  letter-spacing: 0.12em; }
  @media screen and (max-width: 767px) {
    .c-moreLink.textJP {
      font-size: 12px; } }
  @media print, screen and (min-width: 980px) {
    .c-moreLink.textJP {
      font-size: 14px; } }

.c-moreLink.textEN {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em; }
  .wf-loading .c-moreLink.textEN {
    visibility: hidden; }
  .wf-active .c-moreLink.textEN {
    visibility: visible; }
  @media screen and (max-width: 767px) {
    .c-moreLink.textEN {
      font-size: 13px; } }
  @media print, screen and (min-width: 980px) {
    .c-moreLink.textEN {
      font-size: 16px; } }

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
input[type=text],
input[type=submit],
input[type=email],
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent; }

textarea {
  display: block; }

fieldset {
  border: none;
  margin: 0; }

legend {
  display: none; }

body {
  color: #333;
  font-size: 16px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  line-height: 1.6; }

html > body {
  min-width: 980px; }

a {
  color: #333;
  -webkit-touch-callout: none;
  opacity: 1;
  transition: opacity .2s ease-in-out; }
  a:hover {
    opacity: 0.7; }
  a:hover {
    text-decoration: none; }

a:focus,
*:focus {
  outline: none; }

img {
  vertical-align: top;
  border: none;
  border-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

br.SPbr {
  display: none; }
  @media screen and (max-width: 767px) {
    br.SPbr {
      display: inline; } }

br.PCbr {
  display: inline; }
  @media screen and (max-width: 767px) {
    br.PCbr {
      display: none; } }

.SPview {
  display: none; }
  @media screen and (max-width: 767px) {
    .SPview {
      display: block; } }

.PCview {
  display: block; }
  @media screen and (max-width: 767px) {
    .PCview {
      display: none; } }

@font-face {
  font-family: 'icomoon';
  src: url("/icon/icomoon.eot?pnvmg1");
  src: url("/icon/icomoon.eot?pnvmg1#iefix") format("embedded-opentype"), url("/icon/icomoon.ttf?pnvmg1") format("truetype"), url("/icon/icomoon.woff?pnvmg1") format("woff"), url("/icon/icomoon.svg?pnvmg1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-brand:before {
  content: "\e900";
  color: #a4c639; }

.icon-brand2:before {
  content: "\e901";
  color: #999; }

.icon-brand3:before {
  content: "\e902";
  color: #2dbe60; }

.icon-brand4:before {
  content: "\e903";
  color: #3b5998; }

.icon-brand5:before {
  content: "\e904";
  color: #6cc655; }

.icon-brand6:before {
  content: "\e905";
  color: #dc4e41; }

.icon-brand7:before {
  content: "\e906";
  color: #00a4de; }

.icon-brand8:before {
  content: "\e907";
  color: #bd081c; }

.icon-brand9:before {
  content: "\e908";
  color: #ef3f56; }

.icon-brand10:before {
  content: "\e909";
  color: #1da1f2; }

.icon-brand11:before {
  content: "\e90a";
  color: #cd201f; }

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.l-header {
  z-index: 999999; }

.l-footer {
  z-index: 5; }

/* ==========================================================================
   Layout Object
   ========================================================================== */
/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.c-breadcrumbs {
  margin: 0 0 80px; }
  .c-breadcrumbs__list {
    margin: 0 0 1rem 0;
    list-style: none; }
  .c-breadcrumbs li {
    display: inline; }
    .c-breadcrumbs li:before {
      position: relative;
      top: 1px;
      margin: 0 0.75rem;
      opacity: 1;
      content: "/";
      color: #cacaca; }
    .c-breadcrumbs li:first-child:before {
      display: none; }
    .c-breadcrumbs li a {
      color: #000;
      text-decoration: none; }
    .c-breadcrumbs li .current {
      font-weight: normal; }

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.c-btn {
  padding: 0 97px 0 73px;
  line-height: 60px;
  height: 60px;
  border: none;
  font-size: 14px;
  color: #fff;
  background: none;
  border-radius: 4px;
  transition: ease .2s;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  background: #333;
  margin: 0 20px 0 0; }
  .c-btn:last-child {
    margin: 0; }
  .c-btn:hover {
    cursor: pointer;
    opacity: 0.7; }

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;
  text-decoration: none; }
  .button.tiny {
    font-size: 0.6rem; }
  .button.small {
    font-size: 0.75rem; }
  .button.large {
    font-size: 1.25rem; }
  .button.expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
  .button.secondary {
    background-color: #767676;
    color: #fefefe; }
  .button.success {
    background-color: #3adb76;
    color: #0a0a0a; }
  .button.alert {
    background-color: #cc4b37;
    color: #fefefe; }
  .button.warning {
    background-color: #ffae00;
    color: #0a0a0a; }

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
@media print, screen and (min-width: 980px) {
  .c-card {
    width: 720px;
    margin: 0 auto; } }

@media screen and (max-width: 767px) {
  .c-card__list {
    margin: 0 0 45px; } }

@media print, screen and (min-width: 768px) {
  .c-card__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0 0 58px; } }

@media screen and (max-width: 767px) {
  .c-card__item {
    width: 100%;
    margin: 0 0 45px; } }

@media print, screen and (min-width: 768px) {
  .c-card__item {
    width: 340px;
    position: relative;
    margin: 0 0 54px; } }

.c-card__link {
  display: block;
  position: relative; }
  @media screen and (max-width: 767px) {
    .c-card__link {
      display: table; } }
  @media print, screen and (min-width: 768px) {
    .c-card__link:hover .Oursolution__thumb img {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); } }

@media screen and (max-width: 767px) {
  .c-card__thumb {
    width: 50%;
    margin: 0 0 17px;
    display: table-cell; } }

@media print, screen and (min-width: 768px) {
  .c-card__thumb {
    width: 340px;
    height: 226px;
    overflow: hidden;
    margin: 0 0 24px; } }

@media screen and (max-width: 767px) {
  .c-card__thumb img {
    width: 100%;
    height: auto; } }

@media print, screen and (min-width: 768px) {
  .c-card__thumb img {
    width: 340px;
    height: 226px;
    -webkit-transform-origin: 50% 98%;
        -ms-transform-origin: 50% 98%;
            transform-origin: 50% 98%;
    transition: -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); } }

.c-card__caption {
  color: #fff;
  box-sizing: border-box; }
  @media screen and (max-width: 767px) {
    .c-card__caption {
      font-size: 13px;
      display: table-cell;
      width: 50%;
      padding: 0 18px;
      vertical-align: middle;
      line-height: 1.5;
      background: #5c5c5c; }
      .c-card__caption .SPview {
        display: inline; } }
  @media print, screen and (min-width: 768px) {
    .c-card__caption {
      font-size: 16px;
      line-height: 1.23077;
      background: rgba(51, 51, 51, 0.8);
      padding: 8px 20px;
      position: absolute;
      bottom: 0;
      width: 100%; } }
  .c-card__caption .textEN {
    color: #a6a6a6;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-style: normal;
    font-weight: 400;
    display: block;
    margin: 0 0 3px; }
    .wf-loading .c-card__caption .textEN {
      visibility: hidden; }
    .wf-active .c-card__caption .textEN {
      visibility: visible; }
    @media screen and (max-width: 767px) {
      .c-card__caption .textEN {
        font-size: 12px; } }
    @media print, screen and (min-width: 768px) {
      .c-card__caption .textEN {
        font-size: 16px; } }

@media screen and (max-width: 767px) {
  .c-card__text {
    font-size: 12px;
    line-height: 2;
    padding: 23px 19px 20px; } }

@media print, screen and (min-width: 768px) {
  .c-card__text {
    line-height: 1.71429;
    font-size: 14px;
    margin: 0 6px 24px; } }

@media screen and (max-width: 767px) {
  .c-card .c-moreLink {
    margin: 0 19px; } }

@media print, screen and (min-width: 768px) {
  .c-card .c-moreLink {
    margin: 0 6px; } }

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.c-pageHeading {
  text-align: center;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1; }
  .wf-loading .c-pageHeading {
    visibility: hidden; }
  .wf-active .c-pageHeading {
    visibility: visible; }
  @media screen and (max-width: 767px) {
    .c-pageHeading {
      font-size: 24px;
      margin: 0 0 24px; } }
  @media print, screen and (min-width: 768px) {
    .c-pageHeading {
      font-size: 36px;
      margin: 0 auto 50px; } }
  .c-pageHeading--jp {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif; }
    @media print, screen and (min-width: 768px) {
      .c-pageHeading--jp {
        font-size: 30px;
        line-height: 1.1; } }
    @media screen and (max-width: 767px) {
      .c-pageHeading--jp {
        padding: 12px 0 0;
        font-size: 19px; } }
    @media print, screen and (min-width: 768px) {
      .c-pageHeading--jp.border::after {
        margin: 54px auto 48px !important; } }
    @media screen and (max-width: 767px) {
      .c-pageHeading--jp.border::after {
        margin: 27px auto 30px !important; } }
  .c-pageHeading.border {
    position: relative; }
    .c-pageHeading.border::after {
      content: "";
      display: block;
      width: 60px;
      height: 0;
      margin: 42px auto 48px;
      border-bottom: 1px solid #333; }
      @media screen and (max-width: 767px) {
        .c-pageHeading.border::after {
          width: 45px;
          margin: 24px auto 30px; } }

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.c-hero {
  position: relative;
  left: 0;
  top: 0;
  width: 100%; }
  .c-hero img {
    width: 100%;
    height: auto; }
  .c-hero__wrap {
    width: 720px;
    overflow: hidden; }
  .c-hero__slide {
    width: 6000px; }
    .c-hero__slideItem {
      float: left;
      width: 720px; }
      .c-hero__slideItem img {
        width: 100%; }
  .c-hero__dotsList {
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .c-hero__dotsItem {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 24px;
    height: 24px;
    padding: 7px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative; }
    .c-hero__dotsItem a {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      content: '';
      display: block;
      border-radius: 50%;
      background: #b3b3b3;
      margin: -3px -0 0 -3px; }

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.c-map {
  margin: 60px 0 0; }
  .c-map__panels {
    margin: 0 -15px; }
    @media screen and (max-width: 767px) {
      .c-map__panels {
        margin: 0; } }
  .c-map__panel {
    float: left;
    width: 33.333333%;
    padding: 0 15px; }
    @media screen and (max-width: 767px) {
      .c-map__panel {
        float: none;
        width: auto;
        padding: 0;
        margin: 50px 0; } }
  .c-map__detail {
    padding: 0 12px;
    font-size: 12px;
    line-height: 1.8; }
    @media screen and (max-width: 767px) {
      .c-map__detail {
        padding: 0; } }
    .c-map__detail dt {
      margin-bottom: .5em;
      font-weight: 500; }
    .c-map__detail dd {
      margin-bottom: .5em;
      font-weight: 300; }
  .c-map__title {
    margin-bottom: 20px;
    padding-left: .6em;
    border-left: 3px solid #333;
    font-size: 14px;
    line-height: 1; }
    @media screen and (max-width: 767px) {
      .c-map__title {
        margin-bottom: .8em;
        font-size: 13px; } }
    .c-map__title sub {
      bottom: auto; }
  .c-map__address {
    margin-bottom: 1.5em; }
    @media screen and (max-width: 767px) {
      .c-map__address {
        margin-bottom: 1em; } }
  .c-map__link {
    float: right;
    padding: 12px 0;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-style: normal;
    font-weight: 400; }
    .wf-loading .c-map__link {
      visibility: hidden; }
    .wf-active .c-map__link {
      visibility: visible; }
    .c-map__link:hover {
      color: #a6a6a6; }
    @media screen and (max-width: 767px) {
      .c-map__link {
        padding: 5px;
        font-size: 12px; } }
    .c-map__link + .c-map__detail {
      clear: right; }
  .c-map .js-googleMap {
    width: 100%;
    height: 240px;
    background: #e0e0e0; }

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
@media screen and (max-width: 767px) {
  .c-newslist {
    padding: 0 25px 0; } }

@media print, screen and (min-width: 768px) {
  .c-newslist {
    margin: 0 auto; } }

.c-newslist__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media print, screen and (min-width: 768px) {
    .c-newslist__list {
      margin: 0 0 24px; } }

.c-newslist__item {
  display: table; }
  @media screen and (max-width: 767px) {
    .c-newslist__item {
      margin: 0 0 14px;
      width: 100%; } }
  @media print, screen and (min-width: 768px) {
    .c-newslist__item {
      margin: 0 0 26px;
      width: calc(50% - 20px); } }
  .c-newslist__item a {
    display: block;
    text-decoration: none; }
    .c-newslist__item a:hover .News__text {
      color: #a6a6a6; }

.c-newslist__thumb {
  display: table-cell; }
  @media screen and (max-width: 767px) {
    .c-newslist__thumb {
      padding: 5px 12px 0 0; } }
  @media print, screen and (min-width: 768px) {
    .c-newslist__thumb {
      padding: 5px 24px 0 0; } }
  .c-newslist__thumb span {
    overflow: hidden;
    width: 72px;
    height: 72px;
    display: block; }
  .c-newslist__thumb img {
    width: 72px;
    height: auto; }

.c-newslist__body {
  display: table-cell;
  vertical-align: top; }

@media screen and (max-width: 767px) {
  .c-newslist__meta {
    margin: 0 0 6px; } }

@media print, screen and (min-width: 768px) {
  .c-newslist__meta {
    margin: 0 0 8px; } }

.c-newslist__date {
  display: inline-block;
  color: #a6a6a6;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1; }
  .wf-loading .c-newslist__date {
    visibility: hidden; }
  .wf-active .c-newslist__date {
    visibility: visible; }
  @media screen and (max-width: 767px) {
    .c-newslist__date {
      font-size: 11px; } }
  @media print, screen and (min-width: 768px) {
    .c-newslist__date {
      font-size: 14px; } }

.c-newslist__cat {
  color: #a6a6a6;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: normal;
  font-weight: 400; }
  .wf-loading .c-newslist__cat {
    visibility: hidden; }
  .wf-active .c-newslist__cat {
    visibility: visible; }
  @media screen and (max-width: 767px) {
    .c-newslist__cat {
      margin: 0 0 0 12px;
      font-size: 11px; } }
  @media print, screen and (min-width: 768px) {
    .c-newslist__cat {
      margin: 0 0 0 24px;
      font-size: 14px; } }

.c-newslist__text {
  line-height: 1.6; }
  @media screen and (max-width: 767px) {
    .c-newslist__text {
      font-size: 10px; } }
  @media print, screen and (min-width: 768px) {
    .c-newslist__text {
      font-size: 14px; } }

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.c-pagination__list {
  text-align: center; }
  .c-pagination__list a {
    color: #000;
    text-decoration: none; }

.c-pagination__prev, .c-pagination__next {
  display: inline-block; }
  .c-pagination__prev a, .c-pagination__next a {
    display: block;
    padding: 0.285em 0.8em; }

.c-pagination__item {
  display: inline-block;
  margin: 0 3px; }
  .c-pagination__item.is-current a {
    background: #000;
    color: #fff; }
  .c-pagination__item a {
    display: block;
    padding: 0.285em 0.8em;
    border: 1px solid #000;
    font-size: 18px; }
    .c-pagination__item a:hover {
      background: #000;
      color: #fff; }

.c-pagination__text {
  display: none; }

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.c-sns {
  background: #fff; }
  .c-sns__list {
    display: -ms-flexbox;
    display: flex; }
  .c-sns__item {
    margin: 20px 0 0;
    text-align: center; }
    .c-sns__item.facebook {
      margin: 22px 0 0; }
    .c-sns__item.line {
      margin: 22px 0 0; }
    .c-sns__item.twitter {
      margin: 24px 2px 0 0; }
    .c-sns__item.add {
      margin: 20px 0 0 2px; }

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.c-table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333; }
  .c-table th,
  .c-table td {
    vertical-align: top;
    border-top: 2px solid #333;
    border-left: 2px solid #333;
    padding: 8px;
    line-height: 1.28571; }

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.l-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.l-contents {
  width: 1060px;
  margin: 90px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.l-footer {
  position: relative;
  left: 0;
  top: 0;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
  width: 100%; }
  @media print, screen and (min-width: 768px) {
    .l-footer {
      height: 117px; } }
  @media print, screen and (min-width: 980px) {
    .l-footer {
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .l-footer__copy {
      font-size: 10px;
      margin: 0 0 30px;
      display: none; } }
  @media print, screen and (min-width: 768px) {
    .l-footer__copy {
      display: none; } }
  .l-footer__inner {
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 767px) {
      .l-footer__inner {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 28px 0;
        width: 100%; } }
    @media print, screen and (min-width: 768px) {
      .l-footer__inner {
        height: 116px;
        -ms-flex-pack: justify;
            justify-content: space-between;
        padding: 0 24px; } }
    @media print, screen and (min-width: 980px) {
      .l-footer__inner {
        padding: 0 24px;
        max-width: 1072px;
        width: 100%;
        margin: 0 auto; } }
  .l-footer__site {
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 767px) {
      .l-footer__site {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 50%;
        margin: 0 auto; } }
    @media print, screen and (min-width: 768px) {
      .l-footer__site {
        padding: 48px 0;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
    .l-footer__site a {
      font-size: 0;
      display: block; }
  @media screen and (max-width: 767px) {
    .l-footer__logo {
      width: 100%;
      margin: 0 0 11px; } }
  @media print, screen and (min-width: 768px) {
    .l-footer__logo {
      margin: 0 40px 0 0; } }
  @media screen and (max-width: 767px) {
    .l-footer__logo a img {
      width: 82.5px; } }
  .l-footer__link {
    padding: 3px 0; }
    @media screen and (max-width: 767px) {
      .l-footer__link {
        width: 100%;
        margin: 0 0 32px; } }
    @media screen and (max-width: 767px) {
      .l-footer__link a img {
        width: 140.5px; } }
  @media screen and (max-width: 767px) {
    .l-footer__nav {
      width: 100%; } }
  @media print, screen and (min-width: 768px) {
    .l-footer__nav {
      padding: 48px 0; } }
  @media screen and (max-width: 767px) {
    .l-footer__navList {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center; } }
  @media print, screen and (min-width: 768px) {
    .l-footer__navList {
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin: 0 -24px; } }
  .l-footer__navItem {
    position: relative; }
    @media screen and (max-width: 767px) {
      .l-footer__navItem {
        font-size: 10px;
        width: 50%; } }
    @media print, screen and (min-width: 768px) {
      .l-footer__navItem {
        font-size: 11px; } }
    .l-footer__navItem:before {
      content: '';
      display: block;
      background: #a2a4a6;
      position: absolute;
      top: 50%;
      left: 0;
      margin: -5px 0 0; }
      @media screen and (max-width: 767px) {
        .l-footer__navItem:before {
          width: 1px;
          height: 12px; } }
      @media print, screen and (min-width: 768px) {
        .l-footer__navItem:before {
          width: 2px;
          height: 10px; } }
    .l-footer__navItem a {
      padding: 0 24px; }
      @media screen and (max-width: 767px) {
        .l-footer__navItem a {
          padding: 0; } }
      @media print, screen and (min-width: 768px) {
        .l-footer__navItem a {
          padding: 0 24px; } }
      .l-footer__navItem a:hover span {
        color: #a6a6a6; }
      .l-footer__navItem a span {
        padding: 0 0 4px; }
    .l-footer__navItem:first-child:before {
      display: none; }

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.l-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }
  @media print, screen and (min-width: 768px) {
    .l-header {
      background: rgba(255, 255, 255, 0.9); } }
  @media screen and (max-width: 767px) {
    .l-header__inner {
      width: 100%; } }
  @media print, screen and (min-width: 768px) {
    .l-header__inner {
      height: 66px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-line-pack: center;
          align-content: center;
      padding: 0 18px;
      margin: 0 auto; }
      body.topPage .l-header__inner {
        height: 77px; } }
  @media print, screen and (min-width: 980px) {
    .l-header__inner {
      padding: 0 24px;
      max-width: 1280px;
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .l-header__logo {
      padding: 14px 0;
      margin: 0 50px; } }
  .l-header__logo a {
    font-size: 0;
    display: block; }
    @media screen and (max-width: 767px) {
      .l-header__logo a {
        padding: 8px 0;
        text-align: center; } }
    @media print, screen and (min-width: 768px) {
      .l-header__logo a {
        padding: 24px 0; }
        body.topPage .l-header__logo a {
          padding: 28px 0; } }
  .l-header__logo img {
    height: auto;
    vertical-align: top; }
    @media screen and (max-width: 767px) {
      .l-header__logo img {
        width: 113.75px;
        height: 32px; } }
    @media print, screen and (min-width: 768px) {
      .l-header__logo img {
        width: 113.75px;
        height: 32px; } }
  @media screen and (max-width: 767px) {
    .l-header__nav {
      position: fixed;
      top: 0;
      padding: 40px 0 50px;
      background: rgba(51, 51, 51, 0.9);
      width: 100%;
      height: 100vh;
      visibility: hidden;
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
      opacity: 0; }
      .l-header__nav.transition {
        transition: visibility 0.3s linear, -webkit-transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
        transition: visibility 0.3s linear, transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 0.3s cubic-bezier(0.65, 0.05, 0.36, 1); } }
  @media print, screen and (min-width: 768px) {
    .l-header__nav {
      vertical-align: middle;
      position: inherit;
      top: inherit;
      padding: 0;
      background: none;
      width: inherit; } }
  @media screen and (max-width: 767px) {
    .l-header__navList {
      display: none; } }
  @media print, screen and (min-width: 768px) {
    .l-header__navList {
      display: -ms-inline-flexbox;
      display: inline-flex;
      float: right; } }
  .l-header__navItem {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em; }
    .wf-loading .l-header__navItem {
      visibility: hidden; }
    .wf-active .l-header__navItem {
      visibility: visible; }
    @media screen and (max-width: 767px) {
      .l-header__navItem {
        font-size: 18px;
        text-align: center; } }
    @media print, screen and (min-width: 768px) {
      .l-header__navItem {
        font-size: 14px;
        margin: 0 0 0 12px; } }
    @media print, screen and (min-width: 980px) {
      .l-header__navItem {
        margin: 0 0 0 24px; } }
    @media print, screen and (min-width: 768px) {
      .l-header__navItem span {
        padding: 0 0 1px; } }
    .l-header__navItem a {
      font-family: mr-eaves-xl-modern, sans-serif;
      font-style: normal;
      font-weight: 400; }
      .wf-loading .l-header__navItem a {
        visibility: hidden; }
      .wf-active .l-header__navItem a {
        visibility: visible; }
      @media screen and (max-width: 767px) {
        .l-header__navItem a {
          color: #fff;
          padding: 14px 0 13px;
          display: block; } }
      @media print, screen and (min-width: 768px) {
        .l-header__navItem a {
          padding: 0 0 2px;
          line-height: 66px; }
          body.topPage .l-header__navItem a {
            line-height: 77px; } }
      @media print, screen and (min-width: 768px) {
        .l-header__navItem a:hover {
          color: #a6a6a6; } }
      @media print, screen and (min-width: 768px) {
        .l-header__navItem a span {
          padding: 0 0 4px; } }
    @media screen and (max-width: 767px) {
      .topPage .l-header__navItem.top span {
        padding: 0;
        border-bottom: 1px solid #fff; } }
    @media print, screen and (min-width: 768px) {
      .topPage .l-header__navItem.top span {
        padding: 0;
        border-bottom: 1px solid #000; } }
    @media screen and (max-width: 767px) {
      .conceptPage .l-header__navItem.concept span {
        padding: 0;
        border-bottom: 1px solid #fff; } }
    @media print, screen and (min-width: 768px) {
      .conceptPage .l-header__navItem.concept span {
        padding: 0;
        border-bottom: 1px solid #000; } }
    @media screen and (max-width: 767px) {
      .solutionDetailPage .l-header__navItem.our_solution span,
      .solutionPage .l-header__navItem.our_solution span {
        padding: 0;
        border-bottom: 1px solid #fff; } }
    @media print, screen and (min-width: 768px) {
      .solutionDetailPage .l-header__navItem.our_solution span,
      .solutionPage .l-header__navItem.our_solution span {
        padding: 0;
        border-bottom: 1px solid #000; } }
    @media screen and (max-width: 767px) {
      .projectsDetailPage .l-header__navItem.projects span,
      .projectsPage .l-header__navItem.projects span {
        padding: 0;
        border-bottom: 1px solid #fff; } }
    @media print, screen and (min-width: 768px) {
      .projectsDetailPage .l-header__navItem.projects span,
      .projectsPage .l-header__navItem.projects span {
        padding: 0;
        border-bottom: 1px solid #000; } }
    @media screen and (max-width: 767px) {
      .companyPage .l-header__navItem.company span {
        padding: 0;
        border-bottom: 1px solid #fff; } }
    @media print, screen and (min-width: 768px) {
      .companyPage .l-header__navItem.company span {
        padding: 0;
        border-bottom: 1px solid #000; } }
    @media screen and (max-width: 767px) {
      .newsDetailPage .l-header__navItem.news span,
      .newsPage .l-header__navItem.news span {
        padding: 0;
        border-bottom: 1px solid #fff; } }
    @media print, screen and (min-width: 768px) {
      .newsDetailPage .l-header__navItem.news span,
      .newsPage .l-header__navItem.news span {
        padding: 0;
        border-bottom: 1px solid #000; } }
    @media screen and (max-width: 767px) {
      .contactPage .l-header__navItem.contact span {
        padding: 0;
        border-bottom: 1px solid #fff; } }
    @media print, screen and (min-width: 768px) {
      .contactPage .l-header__navItem.contact span {
        padding: 0;
        border-bottom: 1px solid #000; } }
  .l-header__btn {
    width: 26px;
    height: 23px;
    display: block;
    position: absolute;
    right: 9px;
    top: 16px; }
    .l-header__btn span {
      display: none; }
    @media print, screen and (min-width: 768px) {
      .l-header__btn {
        display: none; } }
    .l-header__btn a {
      display: block;
      width: 14px;
      height: 11px;
      margin: 6px;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
      position: relative; }
      .l-header__btn a:before {
        content: '';
        width: 14px;
        height: 1px;
        background: #333;
        display: block;
        position: absolute;
        left: 0;
        top: 4px; }
  .l-header__close {
    width: 24px;
    height: 24px;
    display: block;
    margin: 36px auto 0;
    position: relative; }
    @media screen and (max-width: 767px) {
      .l-header__close {
        display: none; } }
    .l-header__close span {
      display: none; }
    .l-header__close:before, .l-header__close:after {
      content: '';
      width: 1px;
      height: 18px;
      background: #fff;
      display: block;
      position: absolute;
      top: 2px;
      left: 11px; }
    .l-header__close:before {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .l-header__close:after {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    @media print, screen and (min-width: 768px) {
      .l-header__close {
        display: none; } }
    .l-header__close a {
      display: block;
      width: 24px;
      height: 24px; }
  @media screen and (max-width: 767px) {
    .l-header__sp {
      display: block;
      background: rgba(255, 255, 255, 0.9);
      height: 54px;
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .l-header.is-open .l-header__nav {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); } }
  @media screen and (max-width: 767px) {
    .l-header.is-open .l-header__navList {
      display: block; } }
  @media screen and (max-width: 767px) {
    .l-header.is-open .l-header__close {
      display: block; } }

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.l-main {
  width: 720px; }

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.l-pagetop {
  width: 46px;
  height: 46px;
  position: absolute;
  right: 0;
  margin: -46px 0 0; }
  @media screen and (max-width: 767px) {
    .l-pagetop {
      margin: -40px 0 0;
      width: 40px;
      height: 40px; } }
  .l-pagetop a {
    border: 1px solid #d9d9d9;
    display: block;
    background: #fff url(/img/common/icon_arrowup_black.svg) 50% 50%/16px 20px no-repeat; }
    @media screen and (max-width: 767px) {
      .l-pagetop a {
        width: 40px;
        height: 40px; } }
    @media print, screen and (min-width: 768px) {
      .l-pagetop a {
        width: 46px;
        height: 46px; } }
  .l-pagetop span {
    display: none; }

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.l-sub {
  width: 240px;
  overflow: hidden; }

/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
/*
@include sp($point-sp)
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/
.temp-url {
  font-size: 12px;
  margin: 0 0 24px; }

.temp-h3 {
  border-left: 6px solid #333;
  padding: 0 0 0 12px;
  margin: 60px 0 6px;
  line-height: 1; }

.temp-list {
  margin: 32px 0 48px; }
  .temp-list li {
    margin: 0 0 1em; }

/*# sourceMappingURL=maps/style.css.map */
