.l_footer {
  position: relative;
  padding: 50px 0;
  margin-top: 40px;
  background: #eee;
  .l_footer__copy {
    @include global.fz(11);
  }
  .l_footer__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    margin: 20px auto;
  }
}
