.l_pagetop {
  position: absolute;
  right: 0;
  width: 46px;
  height: 46px;
  margin: -46px 0 0;
  @include global.mobile {
    width: 40px;
    height: 40px;
    margin: -40px 0 0;
  }
  a {
    display: block;
    width: 46px;
    height: 46px;
    background: #000;
    border: 1px solid #d9d9d9;
  }
  span {
    display: none;
  }
}
