.p_faq {
  .p_faq__dt {
    margin-top: 40px;
    &::before {
      display: block;
      content: "Q.";
      @include global.fz(20);
    }
    font-weight: bold;
    @include global.fz(20);
  }
  .p_faq__dd {
    margin-top: 10px;
    &::before {
      content: "A.";
      @include global.fz(20);
    }
  }
}
