@use "../global";

.l_footer {
  position: relative;
  padding-top: 50px ;
  margin-top: 40px;
  background: #eee;
  .l_footer__copy {
    @include global.fz(11);
    margin-top: 50px;
  }
  .l_footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    margin: 20px auto;
  }
  .l_footer__nav{
    display: flex;
  }
  .l_footer__navColumn{
    & + .l_footer__navColumn{
      margin-left: 40px;
    }
  }
}
