@use "../global";

.l_footlink {
  width: 100%;
  max-width: 1280px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #f0f0f0;
  .l_footlink__inner{
    padding: 40px 40px;
  }
  .l_footlink__list {
    display: flex;
  }
  .l_footlink__item + .l_footlink__item {
    margin-left: 20px;
  }
}
