@use "../global";

/* 固定ヘッダーの分だけスクロール位置を調整する */
:target {
  scroll-margin-top: 70px;
}

.l_header {
  position: relative;
  width: 100%;
  .l_header__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    padding: 0 40px;
  }
  .l_header__site {
    @include global.desktop {
      height: 100px;
    }
    .l_header__siteText {
      @include global.fz(10);
      letter-spacing: -0.03em;
      @include global.desktop {
        margin-left: 20px;
        @include global.fz(12);
        letter-spacing: 0.1em;
      }
    }
    .l_header__siteLogo {
      width: 80px;
      margin-bottom: 6px;
      @include global.hover_opacity;
      @include global.desktop {
        width: 140px;
        margin-bottom: 12px;
      }
    }
  }
}
