//@include global.mobile{}
@mixin mobile {
  @media (max-width: $mobile - 1px) {
    @content;
  }
}
//@include tablet{}
@mixin tablet {
  @media (min-width: $mobile) {
    @content;
  }
}
//@include global.desktop{}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
//@include wide{}
@mixin wide {
  @media (min-width: $wide) {
    @content;
  }
}
//@include ordinalWidth{}
@mixin ordinalWidth($ordinalWidth) {
  @media (min-width: $ordinalWidth + px) {
    @content;
  }
}
