@font-face {
  font-family: 'icomoon';
  src:  url('/icon/icomoon.eot?pnvmg1');
  src:  url('/icon/icomoon.eot?pnvmg1#iefix') format('embedded-opentype'),
    url('/icon/icomoon.ttf?pnvmg1') format('truetype'),
    url('/icon/icomoon.woff?pnvmg1') format('woff'),
    url('/icon/icomoon.svg?pnvmg1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brand:before {
  content: "\e900";
  color: #a4c639;
}
.icon-brand2:before {
  content: "\e901";
  color: #999;
}
.icon-brand3:before {
  content: "\e902";
  color: #2dbe60;
}
.icon-brand4:before {
  content: "\e903";
  color: #3b5998;
}
.icon-brand5:before {
  content: "\e904";
  color: #6cc655;
}
.icon-brand6:before {
  content: "\e905";
  color: #dc4e41;
}
.icon-brand7:before {
  content: "\e906";
  color: #00a4de;
}
.icon-brand8:before {
  content: "\e907";
  color: #bd081c;
}
.icon-brand9:before {
  content: "\e908";
  color: #ef3f56;
}
.icon-brand10:before {
  content: "\e909";
  color: #1da1f2;
}
.icon-brand11:before {
  content: "\e90a";
  color: #cd201f;
}

