@charset "utf-8";

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/

$point-sp: 767px;
$point-tb: 768px;
$point-pc: 980px;
$point-pcWide: 1280px;
@mixin sp($point-sp) {
  @media screen and (max-width: $point-sp) {
    @content;
  }
}

@mixin tb($point-tb) {
  @media print,
  screen and (min-width: $point-tb) {
    @content;
  }
}

@mixin pc($point-pc) {
  @media print,
  screen and (min-width: $point-pc) {
    @content;
  }
}

@mixin pcWide($point-pcWide) {
  @media print,
  screen and (min-width: $point-pcWide) {
    @content;
  }
}

//@extend .clearfix;
.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// @include ov;
@mixin ov {
  opacity: 1;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  &:hover {
    opacity: 0.7;
    img {
      background-color: rgba(#fff, .01);
    }
  }
}

//@include kadomaru(6px);
@mixin kadomaru($radius) {
  border-radius: $radius;
}

//@include boxSizing;
@mixin boxSizing {
  box-sizing: border-box;
}