// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-icon-arrow-name: 'sprite-icon_arrow';
$sprite-icon-arrow-x: 120px;
$sprite-icon-arrow-y: 0px;
$sprite-icon-arrow-offset-x: -120px;
$sprite-icon-arrow-offset-y: 0px;
$sprite-icon-arrow-width: 13px;
$sprite-icon-arrow-height: 13px;
$sprite-icon-arrow-total-width: 133px;
$sprite-icon-arrow-total-height: 120px;
$sprite-icon-arrow-image: '../img/sprite.png';
$sprite-icon-arrow: (120px, 0px, -120px, 0px, 13px, 13px, 133px, 120px, '../img/sprite.png', 'sprite-icon_arrow', );
$sprite-icon-facebook-name: 'sprite-icon_facebook';
$sprite-icon-facebook-x: 0px;
$sprite-icon-facebook-y: 0px;
$sprite-icon-facebook-offset-x: 0px;
$sprite-icon-facebook-offset-y: 0px;
$sprite-icon-facebook-width: 60px;
$sprite-icon-facebook-height: 60px;
$sprite-icon-facebook-total-width: 133px;
$sprite-icon-facebook-total-height: 120px;
$sprite-icon-facebook-image: '../img/sprite.png';
$sprite-icon-facebook: (0px, 0px, 0px, 0px, 60px, 60px, 133px, 120px, '../img/sprite.png', 'sprite-icon_facebook', );
$sprite-icon-instagram-name: 'sprite-icon_instagram';
$sprite-icon-instagram-x: 60px;
$sprite-icon-instagram-y: 0px;
$sprite-icon-instagram-offset-x: -60px;
$sprite-icon-instagram-offset-y: 0px;
$sprite-icon-instagram-width: 60px;
$sprite-icon-instagram-height: 60px;
$sprite-icon-instagram-total-width: 133px;
$sprite-icon-instagram-total-height: 120px;
$sprite-icon-instagram-image: '../img/sprite.png';
$sprite-icon-instagram: (60px, 0px, -60px, 0px, 60px, 60px, 133px, 120px, '../img/sprite.png', 'sprite-icon_instagram', );
$sprite-icon-line-name: 'sprite-icon_line';
$sprite-icon-line-x: 0px;
$sprite-icon-line-y: 60px;
$sprite-icon-line-offset-x: 0px;
$sprite-icon-line-offset-y: -60px;
$sprite-icon-line-width: 60px;
$sprite-icon-line-height: 60px;
$sprite-icon-line-total-width: 133px;
$sprite-icon-line-total-height: 120px;
$sprite-icon-line-image: '../img/sprite.png';
$sprite-icon-line: (0px, 60px, 0px, -60px, 60px, 60px, 133px, 120px, '../img/sprite.png', 'sprite-icon_line', );
$sprite-icon-twitter-name: 'sprite-icon_twitter';
$sprite-icon-twitter-x: 60px;
$sprite-icon-twitter-y: 60px;
$sprite-icon-twitter-offset-x: -60px;
$sprite-icon-twitter-offset-y: -60px;
$sprite-icon-twitter-width: 60px;
$sprite-icon-twitter-height: 60px;
$sprite-icon-twitter-total-width: 133px;
$sprite-icon-twitter-total-height: 120px;
$sprite-icon-twitter-image: '../img/sprite.png';
$sprite-icon-twitter: (60px, 60px, -60px, -60px, 60px, 60px, 133px, 120px, '../img/sprite.png', 'sprite-icon_twitter', );
$spritesheet-width: 133px;
$spritesheet-height: 120px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-icon-arrow, $sprite-icon-facebook, $sprite-icon-instagram, $sprite-icon-line, $sprite-icon-twitter, );
$spritesheet: (133px, 120px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
