@charset "utf-8";

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc($point-pc) {}
@include pcWide($point-pcWide) {}
*/

.u-textCenter {
  text-align: left;
}

.u-textLeft {
  text-align: left;
}

.u-textRight {
  text-align: right;
}

.u-floatCenter {
  float: left;
}

.u-floatLeft {
  float: left;
}

.u-floatRight {
  float: right;
}

/* fontSize */

.u-fontSize10 {
  font-size: 10px !important;
}

.u-fontSize11 {
  font-size: 11px !important;
}

.u-fontSize12 {
  font-size: 12px !important;
}

.u-fontSize13 {
  font-size: 13px !important;
}

.u-fontSize14 {
  font-size: 14px !important;
}

.u-fontSize15 {
  font-size: 15px !important;
}

.u-fontSize16 {
  font-size: 16px !important;
}

.u-fontSize17 {
  font-size: 17px !important;
}

.u-fontSize18 {
  font-size: 18px !important;
}

.u-fontSize19 {
  font-size: 19px !important;
}

.u-fontSize20 {
  font-size: 20px !important;
}