@use "breakpoint";
@use "mixin";

// @include global.hover_opacity;
@mixin hover_opacity {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.7;
    img {
      background-color: rgba(#fff, 0.01);
    }
  }
}

//hover 画像拡大
// @include global.hover_zoom;
@mixin hover_zoom {
  @include desktop {
    overflow: hidden;
  }
  img {
    transition: transform 0.4s ease-in-out;
  }
  &:hover {
    img {
      @include desktop {
        transform: scale(1.05);
      }
    }
  }
}

// hover 下線
// hover時＝background-size: 100% 100%;を指定
// @include hover_underline
@mixin hover_underline($paddingBottom: 1px) {
  @include breakpoint.desktop {
    @include mixin.not_IE {
      display: inline;
      padding-bottom: $paddingBottom;
      background-image: linear-gradient(180deg, transparent calc(100% - 1px), $color_primary 0);
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size 0.3s ease-in-out;
    }
  }
}
