@use "../global";

.c_pageHeading {
  margin-bottom: 40px;
  .c_pageHeading__title {
    display: flex;
    align-items: baseline;
  }
  .c_pageHeading__jp {
    @include global.fz(20);
    @include global.line-h(36, 20);
  }
  .c_pageHeading__en {
    @include global.fz(12);
    margin-left: 15px;
  }
  .c_pageHeading__lead {
    @include global.fz(16);
    margin-top: 1em;
  }
}
