<% var pageId = 'hoge'; %>
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>title</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">

<!-- *** common *** ★忘れずに指定 -->
<meta property="og:image" content="http:///img/head/og.png">
<meta property="og:locale" content="ja_JP">

<!-- *** Facebook *** ★忘れずに指定 -->
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">

<!-- *** Twitter *** ★忘れずに指定 -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="">

<!-- *** favicon *** -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
<link rel="stylesheet" href="css/vendor/ress.min.css">
<link rel="stylesheet" href="css/vendor/hamburgers/hamburgers.min.css" >
<link rel="stylesheet" href="css/style.min.css">
<link rel="stylesheet" href="css/check.min.css">

<!-- Google Tag START -->
<!-- Google Tag END -->
</head>
<body>

<div id="pagetop" class="l-container">

<%- include('./_include/_l-header', {id: pageId}) %>

<!-- l-breadcrumb START -->
<%- include('./_include/_l-breadcrumb', {
  breadcrumb: [
    {
      name: 'Home',
      url: '/'
    },
    {
      name: 'catName',
      url: '/'
    },
    {
      name: 'pageName'
    }
  ]
}) %>
<!-- l-breadcrumb END -->

<div class="l-contents">

<main class="l-main" role="main">

<div class="c-pageHeading">
<h1 class="c-pageHeading__title">
<span class="c-pageHeading__jp">フォーム</span>
<span class="c-pageHeading__en">form</span>
</h1>
</div>

<h2 class="check">img altチェック</h2>

<article class="c-archive">
<figure class="c-archive__figure">
<img src="http://placehold.it/300x200">
</figure>
</article>

<article class="c-archive">
<figure class="c-archive__figure">
<img src="http://placehold.it/300x200">
</figure>
</article>

<h2 class="check">aタグチェック</h2>

<a href="" target="_blank">リンク target blank指定なし</a>


<h2 class="check">FORMチェック</h2>

<h3>input Text</h3>
<div class="p-form__group">
<dl class="p-form__column">
<dt class="p-form__columnTitle"><label class="p-form__label">dummy title<span class="p-form__must">必須</span></label></dt>
<dd class="p-form__columnBody">
<div class="c-input">
<input type="text" placeholder="テキストが入ります。">
</div>
<span class="p-form__columnError">エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。エラー文が入ります。</span>
</dd>
</dl>
</div>


</main>

</div>
<%- include('./_include/_l-footer') %>
</div>
<%- include('./_include/common/_foot') %>