@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

$sp320: 320px;//固定
$sp :599px;//固定
$pc: 980px; //コンテンツ幅
$wide: 1280px;//デザイン幅
$full: 1400px;//Max幅

//@include sp320{}
@mixin sp320 {
  @media (max-width: $sp320) {
    @content;
  }
}

//@include sp{}
@mixin sp {
  @media (max-width: $sp - 1px) {
    @content;
  }
}

//@include pc{}
@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

//@include wide{};
@mixin wide {
  @media print,
  screen and (min-width: $wide) {
    @content;
  }
}


//@include touch{}
@mixin touch {
  @media (max-width: $pc) {
    @content;
  }
}

//@include desktop{}
@mixin desktop {
  @media (min-width: $pc) {
    @content;
  }
}

//@include onlyTB{};
@mixin onlyTB {
  @media (min-width: $tb) and (max-width: $pc) {
    @content;
  }
}