@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

$zindex-guide: 999999;

@mixin dev-alert($attr:null, $content:"問題があります") {

  outline: red 2px solid;
  position: relative;

  &::after {
    content: $content;
    display: block;
    position: absolute;
    top: -2em;
    left: -2px;
    background: red;
    color: white;
    font-size: 10px;
    padding: .2em .5em;
    z-index: $zindex-guide;
    white-space: nowrap;
  }
}

//headerにrole bannerが無い

//mainにrole mainが無い

//nav にrole navigationが無い

//検索ウィンドウ role searchが無い


//img srcが../から始まる
//img srcがhttpから始まる

//classが空、ダミー
*[class=""] {
  @include dev-alert(class, "【注意】class名が空");
} 

//img altが空、ダミー
img[alt=""] {
  border: 5px solid skyblue;
}

img:not([alt]) {
 @include dev-alert(alt, "【注意】alt属性が無い");
}

//label forが空、ダミー
label[for=""] {
  @include dev-alert(labelfor, "【注意】class名が空");
}

// ダミーURL
a[href=""],
a[href="#"] {
  @include dev-alert(href, "【注意】ダミーURL");
}

//入力項目 必須
input[required]{
  @include dev-alert(required, "【注意】必須");
}

//タグの中身が空
*:empty{
 @include dev-alert(empty, "【注意】タグの中身が空"); 
  min-height: 1em;
}

