/*
#####################################################################

.contents
	
#####################################################################
*/
.contents {
	position: relative;
	width: 980px;
	margin: 0 auto;
	background: #fff;
	min-height: 500px;
}

.contents .pageTop {
	clear: both;
	text-align: right;
}

.contents .pageTop a {
	padding: 0 0 0 18px;
}

/* Mozilla based browsers */
::-moz-selection {
 background-color: #000;
 color: #fff;
}

/* Works in Safari */
::selection {
	background-color: #000;
	color: #fff;
}
