@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&subset=japanese');

//@include font-webfont_noto_sans;
//https://fonts.google.com/?subset=japanese
@mixin font-webfont_noto_sans {
  font-family: 'Noto Sans JP', sans-serif;
}

//@include font-webfont_noto_serif;
//https://fonts.google.com/?subset=japanese
@mixin font-webfont_noto_serif {
  font-family: 'Noto Serif JP', sans-serif;
}

//@include font-JP_sans;
@mixin font-JP_sans{
font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}

//@include font-JP_serif;
@mixin font-JP_serif {
font-family: "游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 ProN W3","HiraMinProN-W3", serif;
}

//@include font-EN_sans;
@mixin font-EN_sans {
font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}

//@include font-EN_serif;
@mixin font-EN_serif {
font-family: "游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 ProN W3","HiraMinProN-W3", serif;
}

//@include font-code;
@mixin font-code {
font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Meiryo, monospace, serif;
}

//@include fz();
@mixin fz($size, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) + rem;
}