@charset "utf-8";
$sp: 560px;

$color_main: #4dbbaa;
$color_secondary: #ffd66e;
$color_darkgray: #3b4043;
$color_gray: #6f7579;
$color_midgray: #959ea7;
$color_palegray: #cdd6dd;
$color_lightgray: #f0f3f5;
$color_white: #fff;
