/*
#####################################################################

.globalHeader
	
#####################################################################
*/

.l-globalHeader {
	margin: 0 auto;
	width: 980px;
	overflow: hidden;
	zoom: 1;
  &--sitelogo {
      float: left;
      overflow: hidden;
      zoom: 1;
  }
}

/*
#####################################################################

.globalFooter
	
#####################################################################
*/

.l-globalFooter {
	margin: 0 auto;
	width: 980px;
	clear: both;
}