.btn {
	width: 100px;
	display: inline-block;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	background: #888;
	line-height: 1.6;
	border: none;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	transition: ease .25s;

	& + & { margin-left: 10px;}

	&.btn--cancel { background: #444;}
	&.btn--submit { background: #666;}
	&.btn--link { }
    &.btn--serch { background: #4e004e; line-height: 1;}

	&:hover { opacity: 0.8;}
}