@charset "utf-8";
// プライマリーカラー
$color_primary: #fff100;
// セカンダリーカラー
$color_secondary: #fff;
$color_tertiary: #A08223;
// アクセントカラー
$color-accent: #ffd66e;
$color-accent-yellow: #bd9620;
$color-accent-purple: #a73073;
// グレー
$color_gray-text: #808080;
$color_gray-border: #ddd;
$color_gray-background: #cccccc;
//$color-gray-icon: #9b9b9b;
//$color-gray-button: #c3c3c3;
// テキストカラー
$color_text: #000;
$color_link: #2388ee;
// エラーカラー
$color_error-text: #f14f4f;
$color_error-border: #DEDEDE;
$color_error-background: #fcdbdb;
// ベース幅
$width_base: 1350px;
$width_content: 640px;
$width_main: 810px;
// ベース余白
$padding_SP: 20px;
$padding_TB: 30px;
