@charset "utf-8";

/*
@include sp320{}
@include sp{}
@include tb{}
@include pc{}
@include touch{}
@include desktop{}
*/

$zindex-guide: 999999;

@mixin dev-alert($attr:null, $content:"問題があります") {
  position: relative;
  display: inline-block;
  margin-top: 3em;
  outline: red 2px solid;
  &::after {
    position: absolute;
    top: -2em;
    left: -2px;
    z-index: $zindex-guide;
    display: block;
    padding: 0.2em 0.5em;
    font-size: 10px;
    color: white;
    white-space: nowrap;
    content: $content;
    background: red;
  }
}

h2.check {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
}

////////////サイト全体////////////

//h1タグがあるか
//大文字の単語が指定されていないか
//パスの指定、統一されているか
//ファビコンダミーでないか
//ogダミーでないか

////////////WAI-ARIA role指定////////////
//headerにrole bannerが無い
header:not([role="banner"]) {
  @include dev-alert(alt, "【注意】headerにrole bannerが無い");
}

//mainにrole mainが無い
main:not([role="main"]) {
  @include dev-alert(alt, "【注意】mainにrole mainが無い");
}

//nav にrole navigationが無い
nav:not([role="navigation"]) {
  @include dev-alert(alt, "【注意】navにrole navigationが無い");
}

//footer にrole contentinfoが無い
footer:not([role="contentinfo"]) {
  @include dev-alert(alt, "【注意】footerにrole contentinfoが無い");
}

//タブUIにrole="tablist"をつける

//article role="article"がない

//aside role="complementary"

//エラー文にrole="alert"をつける

//role="menuitem"＝調べる

//アイコンの内容をラベルづけaria-label="新しいウインドウで開く"

//検索ウィンドウ role searchが無い
//nav:not([role="navigationが無い"]) {
// @include dev-alert(alt, "【注意】mainにrole mainが無い");
//}


////////////img TAG////////////

//img srcが../から始まる
//img srcがhttpから始まる
//classが空、ダミー
*[class=""] {
  @include dev-alert(class, "【注意】class名が空");
}

//img altが空、属性がない
img[alt=""] {
  border: 5px solid skyblue;
}

img:not([alt]) {
  @include dev-alert(alt, "【注意】alt属性が無い");

  border: 5px solid skyblue;
}


////////////a TAG////////////

//a target="_blank" でrel="noopener noreferrer"が無い
a[target="_blank"] {
  color: #f00;
  &:not([rel="noopener noreferrer"]) {
    @include dev-alert(required, "【注意】relが無い");

    color: #f00;
  }
}

//HTML5/テキスト/a要素 ダウンロード用のリンクを指定する - TAG index
//https://www.tagindex.com/html5/text/a_download.html

//リンク先が英語の場合、言語コードを指定する
//a hreflang="en"
//HTML5/テキスト/a要素 リンクを設定する - TAG index
//https://www.tagindex.com/html5/text/a.html

// ダミーURL
//a[href=""],
//a[href="#"] {
//  @include dev-alert(href, "【注意】ダミーURL");
//}

////////////FORM TAG////////////

//label forが空
label[for=""] {
  @include dev-alert(labelfor, "【注意】label forが空");
}

label:not([for]) {
  @include dev-alert(alt, "【注意】label forが無い");
}

//入力項目 必須
input[required] {
  @include dev-alert(required, "【注意】必須");
}

//入力要素にidがない
input[required] {
  @include dev-alert(required, "【注意】必須");
}

////////////OTHER HTML TAG////////////

//divタグの中身が空
div:empty {
  @include dev-alert(empty, "【注意】divタグの中身が空");

  min-height: 1em;
}
